.range {
  display: flex;
  align-items: center;

  &__value {
    margin-left: 7px;
    min-width: 70px;
    font-size: 10px;
    line-height: 1.2;
    font-weight: 500;
    letter-spacing: .2em;
    text-transform: uppercase;
    color: #000;
  }
}
