.question {

  &__header {
  }

  &__header-content {
    display: flex;
    justify-content: space-between;
  }

  &__current-number {
  }

  &__total-number {
  }

  &__progress {
    margin-top: 10px;
    margin-bottom: 10px;
    width: 100%;
    height: 3px;
    background: #bcbcbc;
  }

  &__progress-line {
    height: 100%;
    background: $primary;
    border-radius: 1px;
  }

  &__form {
  }

  &__footer {
    display: flex;

    &--center {
      flex-direction: column;
      align-items: center;
    }
  }

  &__btn {
    color: #fff;
    background: #bcbcbc;

    @include media-breakpoint-down(sm) {
      padding: 10px 15px !important;
      font-size: 11px !important;
    }

    &:hover {
      opacity: .8;
      color: #fff;
    }

    &--active {
      background: $primary;

      &:hover {
        color: #fff;
      }
    }
  }

  &__motivation {
    position: relative;
    z-index: -1;
    margin-top: 20px;
    color: $primary;

    &--active {
      z-index: auto;
    }
  }

  &__text-wrapper {
    display: flex;
  }

  &__text-icon {
    margin-right: 10px;
    width: 27px;
    height: 27px;
    flex-shrink: 0;
    background: url(../img/question-check.svg) no-repeat;
    background-size: contain;
    border-radius: 50%;
  }

  &__answer {
    margin-top: 10px;
    padding-left: 20px;
    font-size: 14px;
    line-height: 20px;
    color: $primary;
  }

  &--incorrect {

    .question__progress-line {
      background: #cf3339;
    }

    h2 {
      color: #cf3339;
    }

    .question__text-icon {
      background: url(../img/question-error.svg) no-repeat;
      background-size: contain;
    }
  }
}
