.regions {

  &__map {

    svg {
      max-width: 100%;
      height: auto;
    }

    .b-map__region {

      &:hover * {
        fill: #abcfab !important;

        @include media-breakpoint-down(lg) {
          fill: #f39208 !important;
        }
      }

      &--active * {
        fill: #f39208 !important;

        &:hover * {
          fill: #f39208 !important;
        }
      }
    }
  }

  &__content {
  }

  &__item {
    margin-top: 17px;
    display: none;

    &--active {
      display: block;
    }
  }

  &__name-item {
    margin-bottom: 40px;
  }

  &__item-content {
  }

  &__address {
    padding-bottom: 9px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid rgba(255, 255, 255, .3);

    @include media-breakpoint-down(sm) {
      flex-direction: column;
    }

    & + & {
      margin-top: 9px;
    }
  }

  &__btn {
    padding-right: 20px;
    padding-left: 20px;
    width: auto;

    @include media-breakpoint-down(sm) {
      margin-top: 10px;
    }
  }
}

svg #Stroke-197 {
  position: relative;
  z-index: 9999;
  transform: translate(-219.5px, 110.5px);
  fill: #fff;
}

svg #Stroke-199 {
  position: relative;
  z-index: 9999;
  transform: translate(-219.5px, 110.5px);
  fill: #fff;
}
