/* rubik-regular - cyrillic_latin */
@font-face {
  font-family: 'Rubik';
  font-weight: 400;
  font-style: normal;
  src: local('Rubik'), local('Rubik-Regular'),
    url('../fonts/rubik-v9-cyrillic_latin-regular.woff2') format('woff2'),
    /* Chrome 26+, Opera 23+, Firefox 39+ */ url('../fonts/rubik-v9-cyrillic_latin-regular.woff')
      format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* rubik-500 - cyrillic_latin */
@font-face {
  font-family: 'Rubik';
  font-weight: 500;
  font-style: normal;
  src: local('Rubik Medium'), local('Rubik-Medium'),
    url('../fonts/rubik-v9-cyrillic_latin-500.woff2') format('woff2'),
    /* Chrome 26+, Opera 23+, Firefox 39+ */ url('../fonts/rubik-v9-cyrillic_latin-500.woff')
      format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* rubik-700 - cyrillic_latin */
@font-face {
  font-family: 'Rubik';
  font-weight: 700;
  font-style: normal;
  src: local('Rubik Bold'), local('Rubik-Bold'),
    url('../fonts/rubik-v9-cyrillic_latin-700.woff2') format('woff2'),
    /* Chrome 26+, Opera 23+, Firefox 39+ */ url('../fonts/rubik-v9-cyrillic_latin-700.woff')
      format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

@font-face {
  font-family: 'CoalhandLuke Pro';
  src: url('../fonts/subset-CoalhandLukePro.woff2') format('woff2'),
    url('../fonts/subset-CoalhandLukePro.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
