html {
}

body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  color: #fff;
  background: $primary;
  -webkit-font-smoothing: antialiased;

  &.body--white {
    color: $primary;
    background: #fff;

    .footer {
      color: #fff;
      background: $primary;
    }
  }

  &.body--fixed {
    overflow: hidden;
  }

  &.body--orange {
    background: #f39208;

    .footer {
      color: #fff;
      background: #f39208;
    }
  }
}
