h1,
.h1 {
  font-size: 46px;
  line-height: 1.2;
  font-weight: 500;

  @include media-breakpoint-down(md) {
    font-size: 34px;
  }

  @include media-breakpoint-down(sm) {
    font-size: 26px;
  }
}

h2,
.h2 {
  font-size: 32px;
  line-height: 1.2;
  font-weight: 500;

  @include media-breakpoint-down(md) {
    font-size: 26px;
  }

  @include media-breakpoint-down(sm) {
    font-size: 22px;
  }
}

h3,
.h3 {
  font-size: 25px;
  line-height: 1.2;
  font-weight: 400;

  @include media-breakpoint-down(md) {
    font-size: 20px;
  }

  @include media-breakpoint-down(sm) {
    font-size: 18px;
  }
}

h4,
.h4 {
  font-size: 18px;
  line-height: 1.2;
  font-weight: 500;

  @include media-breakpoint-down(md) {
    font-size: 16px;
  }

  @include media-breakpoint-down(sm) {
    font-size: 14px;
  }
}

h5 {
}

h6 {
}

p {
  margin-bottom: 1.5em;
  font-size: 16px;
  line-height: 1.5;

  &.p--sm {
    margin-top: 10px;
    font-size: 13px;
    line-height: 1.15;
  }
}

.font-weight-medium {
  font-weight: 500;
}

ul {

  li {
  }
}

ol {

  li {
  }
}

table {
}

tr {
}

th {
}

td {
}

a {
}

input {

  &:focus {
    outline: none;
  }
}

textarea {

  &:focus {
    outline: none;
  }
}

select {
}

button {
  padding: 0;
  border: 0;
  cursor: pointer;

  &:focus {
    outline: none;
  }
}

input[type='submit'] {
  border: 0;
  cursor: pointer;
}

img {
}

.text-underline {
  text-decoration: underline;
}

.text-blue {
  color: $blue !important;
}

.bg-blue {
  background: $blue !important;
}
