mixin news(data)
  a.news(href="#")&attributes(attributes) 
    .news__picture(style="background-image: url(./img/news.png)")
    if data && data.modifier == 'tagged'
      .news__tags
        +tag({
          title: '14—17 лет'
        })
        +tag({
          title: 'Видео'
        })
    else
      p.news__date 03.05.2019
    h4.mb-0.news__title Какие фотографии не стоит выкладывать в интернет
