.news {
  display: block;
  color: #fff;

  @include transition;

  @include media-breakpoint-down(sm) {
    margin-bottom: 40px;
  }

  &:hover {
    opacity: .8;
    color: #fff;
  }

  &__picture {
    padding-top: 68%;
    width: 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }

  &__date {
    margin-top: 18px;
    margin-bottom: 15px;
    font-size: 12px;
    line-height: 1.2;
    font-weight: 500;
    letter-spacing: .5em;
  }

  &__title {
    max-width: 95%;
  }

  &__tags {
    display: flex;
    flex-wrap: wrap;
  }

  &--big {
    margin-bottom: 85px;

    @include media-breakpoint-down(lg) {
      margin-bottom: 40px;
    }

    .news__picture {
      padding-top: 0;
      width: 100%;
      max-width: 85%;
      height: 260px;

      @include media-breakpoint-down(sm) {
        max-width: none;
      }
    }

    .news__title {
      margin-top: 15px;
      font-size: 32px;
      line-height: 1;
      font-weight: 500;

      @include media-breakpoint-down(lg) {
        font-size: 20px;
      }
    }
  }

  &--white {
    margin-bottom: 50px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    text-align: left;
    color: $primary;
    cursor: pointer;

    .news__picture {
      background-position: center;
      background-size: contain;
    }

    &:hover {

      .news__title {
        color: $primary;
      }
    }

    .news__tags {
      margin-top: 16px;
    }

    .news__title {
      font-size: 24px;
      font-weight: 500;
      color: $primary;
    }
  }
}
