mixin tag-filter(data)
  .tag-filter&attributes(attributes)
    .custom-control.custom-checkbox
      input.custom-control-input(type='checkbox', id=data.id, checked=data.isChecked)
      label.custom-control-label(for=data.id)= data.title
