.tag-filter {
  margin-bottom: 10px;
  cursor: pointer;

  &:hover {

    .custom-control-label {
      border-color: $primary;
    }
  }

  .custom-checkbox {
    padding-left: 0;
  }

  .custom-control-input {

    &:checked ~ .custom-control-label {
      color: #fff;
      background: $primary;
      border-color: $primary;
    }
  }

  .custom-control-label {
    padding: 7px 11px;
    font-size: 10px;
    line-height: 12px;
    font-weight: 500;
    text-align: center;
    letter-spacing: .2em;
    text-transform: uppercase;
    color: $primary;
    border: 1px solid #bdbdbd;
    border-radius: 4px;

    @include transition;

    &:before,
    &:after {
      display: none;
    }
  }

  &--row {
    margin: 0 8px 10px;
    flex-grow: 1;

    .custom-checkbox {
      width: 100%;
    }

    .custom-control-label {
      width: 100%;
    }
  }

  &--wide {
    width: 100%;
    max-width: 130px;

    .custom-control-label {
      width: 100%;
    }
  }

  &--type {

    .custom-control-label {
      color: #000;
    }

    & + & {
      margin-left: 18px;
    }
  }

  &--online {

    .custom-control-label {
      border-color: $primary;
    }
  }

  &--offline {

    &:hover {

      .custom-control-label {
        border-color: #e28a07 !important;
      }
    }

    .custom-control-input:checked ~ .custom-control-label {
      color: #fff !important;
      background: #e28a07 !important;
    }

    .custom-control-label {
      border-color: #e28a07 !important;

      &:hover {
        border-color: #e28a07 !important;
      }
    }
  }
}
