/* Bootstrap */

.btn {
  padding-top: 8px;
  padding-bottom: 6px;
  width: 100%;
  max-width: 300px;
  font-size: 10px;
  line-height: 1.2;
  font-weight: 500;
  letter-spacing: .2em;
  text-transform: uppercase;

  @include transition;

  &.btn-outline-primary {

    &--white {
      color: #fff;
      border-color: #fff;

      &:hover {
        color: #000;
        background: #fff;
      }
    }
  }

  &.btn-shadow {
    box-shadow: 0 2px 10px rgba(0, 0, 0, .1), 0 10px 30px rgba(0, 0, 0, .25);
  }

  &.btn-lg {
    padding: 20.5px 50px;
    width: auto;
    max-width: none;
    font-size: 14px;
    line-height: 17px;
    font-weight: 500;

    @include media-breakpoint-down(sm) {
      padding: 20px;
      font-size: 12px;
    }
  }

  &--back {
    position: relative;
    max-width: 214px;

    &:before {
      position: absolute;
      top: 50%;
      left: -14px;
      display: block;
      width: 21px;
      height: 14px;
      content: '';
      background: url(../img/arrow-left.svg) no-repeat;
      background-size: contain;
      transform: translateY(-50%);
    }
  }

  &.btn-white {
    padding-top: 22px;
    padding-bottom: 22px;
    max-width: none;
    font-size: 14px;
    font-weight: 500;
    color: $primary;
    background: #fff;

    &:hover {
      opacity: .8;
    }

    @include media-breakpoint-down(sm) {
      font-size: 12px;
    }
  }

  &.btn-link {
    font-size: 14px;
    font-size: 14px;
    line-height: 1;
    line-height: 1;
    font-weight: 400;
    letter-spacing: 0;
    text-transform: none;
    color: #fff;

    &:hover {
      opacity: .7;
    }
  }

  &.btn-outline-white {
    color: #fff;
    border-color: #fff;

    &:hover {
      opacity: .7;
    }
  }
}

.btn-handwritten {
  padding: 0;
  font-family: $font-handwritten;
  font-size: 42px;
  line-height: 1;
  color: #003d86;
  box-shadow: 0 10px 30px rgba(0, 0, 0, .25);

  @include transition;

  @include media-breakpoint-down(sm) {
    font-size: 34px;
  }

  img {
    max-width: 100%;
  }

  &:hover {
    opacity: .8;
  }
}

/* Validation */

.was-validated .form-control:invalid,
.form-control.is-invalid {
  padding-right: 0;
  color: #ebff00;
  background: transparent;
  border-color: #ebff00;

  @include placeholder(rgba(#ebff00, .3));
}

.was-validated .form-control:valid:focus,
.form-control.is-valid:focus {
  border-color: #ebff00;
  box-shadow: none;
}

.was-validated .form-control:invalid:focus,
.form-control.is-invalid:focus {
  border-color: #ebff00;
  box-shadow: none;
}

.invalid-feedback {
  position: absolute;
  padding-left: 3px;
  text-align: left;
  color: #ebff00;
}

.was-validated .form-control:valid,
.form-control.is-valid {
  padding-right: 0;
  background: transparent;
  border-color: #fff;
}

/* Fancybox */

.fancybox-slide {

  @include media-breakpoint-down(sm) {
    padding: 10px;
  }
}

/* Datepicker */

div.ui-datepicker {
  z-index: 99999 !important;
  margin-top: 10px;
  padding: 0;
  width: 345px;
  font-family: $font-family-sans-serif;
  background: #fff;
  border: 0 !important;
  border-radius: 5px;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, .15);

  @include media-breakpoint-down(sm) {
    left: 50% !important;
    margin-left: -172.5px !important;
  }

  .ui-datepicker-header {
    padding: 0;
    display: flex;
    height: 60px;
    justify-content: center;
    align-items: center;
    background: #fff;
    border: 0;
  }

  .ui-datepicker-title {
    font-size: 13px;
    line-height: 1.54;
    font-weight: 700;
    text-transform: uppercase;
    color: #252627;
  }

  .ui-datepicker-prev {
    top: 50%;
    left: 30px;
    margin-top: -5px;
    width: 7px;
    height: 10px;
    background: url(../img/arrow.svg) no-repeat;
    background-size: contain;
    transform: rotate(180deg);
    cursor: pointer;

    &:hover {
      border: 0;
    }
  }

  .ui-datepicker-next {
    top: 50%;
    right: 30px;
    margin-top: -5px;
    width: 7px;
    height: 10px;
    background: url(../img/arrow.svg) no-repeat;
    background-size: contain;
    cursor: pointer;

    &:hover {
      border: 0;
    }
  }

  .ui-datepicker-calendar {
    margin: 0 auto;
    margin-bottom: 20px;
    width: 90%;

    tr {
    }

    th {
      padding-top: 10px;
      padding-bottom: 20px;
      height: 60px;
      font-size: 10px;
      line-height: .88;
      font-weight: 900;
      letter-spacing: .9px;
      text-transform: uppercase;
      color: #5c626b;
      border-bottom: 1px solid fade($primary, 20%);

      &.ui-datepicker-week-end {
        color: $primary;
      }
    }

    td {
      width: 35px !important;
      height: 40px;
    }
  }

  .ui-state-default {
    margin: 0 auto;
    padding: 0;
    width: 30px;
    height: 30px;
    font-size: 12px;
    line-height: 30px;
    font-weight: 500;
    text-align: center;
    color: #252627;
    background: transparent;
    border: 0;
    border-radius: 50%;
  }

  .ui-state-active {
    background: $primary;
  }

  .ui-datepicker-today {

    .ui-state-default {
      background: #eaeaea;
    }
  }

  .selected {
    position: relative;

    .ui-state-default {
      color: #fff;
      background: $primary;
    }
  }

  .ui-icon {
    background: transparent !important;
  }

  .ui-datepicker-week-end {

    .ui-state-default {
      color: $primary;
    }

    &.selected {

      .ui-state-default {
        color: #fff;
      }
    }
  }

  .ui-datepicker-buttonpane {

    button {
      padding: 0 10px !important;
      width: auto !important;
    }
  }

  .ui-datepicker-month {
    width: 100px;
    height: 30px;
    font-family: $font-family-sans-serif;
    font-size: 14px;
    border-color: #eaeaea;
    border-radius: 4px;
  }

  .ui-datepicker-year {
    margin-left: 5px;
    display: inline-flex;
    width: 100px;
    height: 30px;
    align-items: center;
    font-family: $font-family-sans-serif;
    font-size: 14px;
    line-height: 30px;
    border-color: #eaeaea;
    border-radius: 4px;
  }

  .ui-datepicker-button {
    margin: 15px auto 10px;
    display: block;
    width: 130px;
    height: 40px;
    background: #fff;
    border: 1px solid #565656;
    border-radius: 5px;
    cursor: pointer;

    @include transition;

    &:hover {
      color: #fff;
      background: $black;
    }
  }
}

/* Select2 */

.select2-container--default .select2-selection--single {
  font-size: 10px;
  line-height: 1.2;
  font-weight: 500;
  letter-spacing: .2em;
  text-transform: uppercase;
  color: $primary;
  border: 0;
  border-bottom: 1px solid #c4c4c4;
  border-radius: 0;

  &:focus {
    outline: none;
  }

  &.dark {

    .select2-selection__rendered {
      padding-left: 10px;
      font-size: 14px;
      line-height: 17px;
      font-weight: 400;
      letter-spacing: 0;
      text-transform: none;
      color: $dark;
    }
  }
}

.select2-container--default .select2-selection--single .select2-selection__rendered {
  padding-left: 0;
  color: $primary;
  background: url(../img/triangle.svg) no-repeat right 5px center;

  &:focus {
    outline: none;
  }
}

.select2-container--default .select2-selection--single .select2-selection__arrow {
  display: none;
}

.select2-container--default.select2-container--open.select2-container--below
  .select2-selection--single,
.select2-container--default.select2-container--open.select2-container--below
  .select2-selection--multiple {
  border-bottom: 0;
}

.select2-dropdown {
  border: 0;

  &.dark {
    border-top: 1px solid #bcbcbc;
    box-shadow: 0 1px 5px rgba(#000, .1);

    .select2-results__option {
      padding-left: 10px;
      font-size: 14px;
      line-height: 17px;
      color: $dark;

      &[aria-disabled='true'] {
        opacity: .5;
      }
    }
  }
}

.select2-results__option {
  font-size: 12px;
}

/* Custom Radio */

.custom-radio {
  padding-left: 0;
  min-height: 0;

  .custom-control-input {

    &:checked ~ .custom-control-label {

      &:after {
        display: none;
      }
    }
  }

  .custom-control-label {
    display: flex;
    align-items: baseline;
    font-size: 10px;
    line-height: 1.2;
    font-weight: 400;
    letter-spacing: .2em;
    text-transform: uppercase;
    color: #000;
    transition: border-color .3s linear;
    cursor: pointer;

    &:hover {
      border-color: $primary;
    }

    &:focus {

      &:before {
        box-shadow: none;
      }
    }

    &:before {
      position: static;
      margin-right: 8px;
      width: 10px;
      height: 10px;
    }

    &:after {
      display: none;
    }
  }

  &--test {

    & + .custom-radio--test {
      margin-top: 10px;
    }

    .custom-control-input {

      &:checked ~ .custom-control-label {
        padding-top: 9.5px;
        padding-right: 18px;
        padding-left: 18px;
        padding-bottom: 9.5px;
        border: 3px solid $primary;
      }
    }

    .custom-control-label {
      padding: 11.5px 20px;
      font-size: 16px;
      line-height: 19px;
      letter-spacing: 0;
      text-transform: none;
      border: 1px solid #bcbcbc;
      border-radius: 6px;

      &:before {
        display: none;
      }
    }
  }

  &--big {

    @include media-breakpoint-down(sm) {
      margin-bottom: 20px;
    }

    .custom-control-input {

      &:checked ~ .custom-control-label {
        padding-top: 21px;
        padding-bottom: 21px;
      }
    }

    .custom-control-label {
      padding-top: 23px;
      padding-bottom: 23px;
      justify-content: center;
      text-align: center;
      color: $primary;
      cursor: pointer;
    }
  }

  &--incorrect {

    .custom-control-label {
      border-width: 3px;
      border-color: #cf3339;
    }
  }

  &--fixed {
    flex-grow: 1;

    .custom-control-input {

      &:checked ~ .custom-control-label {
        padding-left: 12px;
      }
    }

    .custom-control-label {
      padding-left: 14px;
      display: flex;
      height: 44px;
      align-items: center;
      line-height: 1.05;
      font-weight: 400;
    }
  }
}

/* Rangeslider */

.rangeslider {
  width: 85px;
  height: 1px;
  background: #c4c4c4;
  border-radius: 0;
  box-shadow: none;
}

.rangeslider__fill {
  max-width: 85px;
  background: $primary;
  border-radius: 0;
  box-shadow: none;
}

.rangeslider__handle {
  top: 50% !important;
  width: 10px;
  height: 10px;
  background: $primary;
  border: 0;
  box-shadow: none;
  transform: translateY(-50%);

  &:after {
    display: none;
  }
}

/* Доработки */

@media (max-width: 991.98px) {

  .quote {
    padding-left: 0 !important;
    width: 100% !important;
  }
}

@media (max-width: 767.98px) {

  .quote {
    padding-right: 20px !important;
    padding-left: 20px !important;
  }

  .quote-text {
    font-size: 18px !important;
    font-weight: 500 !important;
  }

  .quote-text:before,
  .quote-text:after {
    width: 20px !important;
    height: 25px !important;
  }

  .quote-text:before {
    left: -30px !important;
  }
}

.modal .iframe {
  max-width: 100% !important;
}

@media (min-width: 992px) {

  .modal-lg,
  .modal-xl {
    max-width: none !important;
  }

  .modal {
    top: 50% !important;
    left: 50% !important;
    width: auto !important;
    height: auto !important;
    transform: translate(-50%, -50%) !important;
  }
}
