.test {
  padding: 30px 55px 55px;
  background: #fff;
  box-shadow: 0 2px 10px rgba(0, 0, 0, .1), 0 10px 30px rgba(0, 0, 0, .25);

  @include media-breakpoint-down(sm) {
    padding: 20px;
  }

  &__content {
  }

  &__info-header {
    padding-bottom: 4px;
    color: $primary;
    border-bottom: 3px solid $primary;
  }

  &__age-btn {
    font-size: 18px;
    line-height: 21px;
    font-weight: 500;
    color: $primary;
    border: 1px solid #bcbcbc;
    border-radius: 6px;
  }

  &__result {
    color: $primary;

    &--incorrect {
      color: #f39208;

      .test__result-header {
        border-color: #f39208;
      }

      .btn-primary {
        background: #f39208;
        border-color: #f39208;

        &:focus,
        &:active {
          background: #f39208 !important;
          border-color: #f39208 !important;
          box-shadow: none !important;
        }

        &:hover {
          opacity: .8;
        }
      }
    }

    &--cabinet {

      .test__result-header {
        margin-bottom: 12px;
        border-bottom-width: 1px;
      }

      .test__result-header-left {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
      }

      .test__result-title {
        font-size: 18px;
        line-height: 21px;
        font-weight: 500;
      }
    }

    &--blue {
      color: $blue;
      border-radius: 3px;

      a {
        color: $blue;
      }

      .btn-primary {
        color: #fff;
        background: $blue;
        border-color: $blue;

        @include transition;

        &:hover {
          opacity: .8;
        }
      }

      .test__result-header {
        margin-top: 30px;
        padding-bottom: 15px;
        justify-content: space-between;
        border-color: $blue;
      }
    }
  }

  &__result-header {
    position: relative;
    margin-bottom: 10px;
    padding-bottom: 35px;
    display: flex;
    flex-wrap: wrap;
    border-bottom: 3px solid $primary;

    @include media-breakpoint-down(sm) {
      flex-wrap: wrap;
      justify-content: space-between;
    }
  }

  &__result-header-left {
    width: 210px;

    @include media-breakpoint-down(sm) {
      width: 100%;
    }
  }

  &__result-title {
    margin-bottom: 20px;
    font-size: 28px;
    line-height: 1.15;
    font-weight: 500;
  }

  &__result-rating {
    position: relative;
    display: flex;
    font-size: 42px;
    line-height: 1.2;
    font-weight: 500;

    @include media-breakpoint-down(sm) {
      margin-bottom: 20px;
    }
  }

  &__result-number {
    font-size: 324px;
    line-height: .75;
    font-weight: 500;

    @include media-breakpoint-down(lg) {
      font-size: 200px;
    }

    @include media-breakpoint-down(sm) {
      font-size: 150px;
    }
  }

  &__result-overall {
    position: absolute;
    top: 0;
    left: 100%;

    @include media-breakpoint-down(sm) {
      position: static;
    }
  }

  &__result-right {
    display: flex;
    align-items: flex-end;
  }

  &__result-socials {
  }

  &__result-details {
  }

  &__result-details-number {
    display: flex;
    align-items: flex-start;
    font-size: 24px;
    line-height: 1.15;
    font-weight: 500;
  }

  &__result-details-number-main {
    font-size: 64px;
    line-height: .75;
    font-weight: 500;

    @include media-breakpoint-down(sm) {
      font-size: 50px;
    }
  }

  &__footer {
    display: flex;

    @include media-breakpoint-down(lg) {
      width: 100%;
    }

    &--center {
      flex-direction: column;
      align-items: center;
    }
  }

  &__info-form-wrapper {
    padding: 0 23px;

    @include media-breakpoint-down(sm) {
      padding: 0;
    }
  }

  &__result-year {
    margin-bottom: 23px;
    padding-bottom: 19px;
    font-size: 18px;
    line-height: 21px;
    font-weight: 500;
    border-bottom: 1px solid $primary;
  }

  &__result-footer {
    margin-top: 30px;
    display: flex;
    justify-content: center;

    @include media-breakpoint-down(sm) {
      margin-top: 0;
    }

    &--center {
      flex-direction: column;
    }
  }

  &__result-tabs {
    position: relative;
    z-index: 1;
    display: flex;
    border-bottom: 1px solid #2d9cdb;
  }

  &__result-tabs-item {
    margin-bottom: 0;
    padding-bottom: 9px;

    @include media-breakpoint-down(sm) {
      font-size: 13px;
    }

    & + & {
      margin-left: 30px;

      @include media-breakpoint-down(sm) {
        margin-left: 10px;
      }
    }
  }

  &__result-tabs-link {
    padding-bottom: 5px;
    color: #ccc !important;
    border-bottom: 4px solid transparent;

    @include transition;

    &:hover {
      opacity: .8;
    }

    &--active {
      color: #2d9cdb !important;
      border-color: #2d9cdb;
    }
  }

  &__result-banner {
    margin-top: 33px;
    display: block;
  }

  &__result-banner-img {
    max-width: 100%;
    border: 1px solid #b9b9b9;
  }

  &--custom {
    border-radius: 3px;
  }
}
