
include ../blocks/header/header.pug
include ../blocks/logo/logo.pug
include ../blocks/menu/menu.pug
include ../blocks/front/front.pug
include ../blocks/countdown/countdown.pug
include ../blocks/subscribe/subscribe.pug
include ../blocks/info/info.pug
include ../blocks/news/news.pug
include ../blocks/partners/partners.pug
include ../blocks/footer/footer.pug
include ../blocks/socials/socials.pug
include ../blocks/article/article.pug
include ../blocks/tabs/tabs.pug
include ../blocks/tag-filter/tag-filter.pug
include ../blocks/select/select.pug
include ../blocks/range/range.pug
include ../blocks/event/event.pug
include ../blocks/library/library.pug
include ../blocks/tag/tag.pug
include ../blocks/calendar/calendar.pug
include ../blocks/user/user.pug
include ../blocks/regions/regions.pug
include ../blocks/enter/enter.pug
include ../blocks/form/form.pug
include ../blocks/input/input.pug
include ../blocks/test/test.pug
include ../blocks/question/question.pug
include ../blocks/cabinet/cabinet.pug
include ../blocks/modal/modal.pug

include ../blocks/up/up.pug
include ../blocks/certificate/certificate.pug
include ../blocks/custom-front/custom-front.pug