doctype html
html(lang='ru')
  include ../templates/head.pug
  include ../templates/blocks.pug
  
  body.body--white
    block content
    +up
    script(src="js/vendor.js")
    script(src="js/scripts.js")
