.input {
  padding-left: 15px;
  color: #fff;
  background: transparent;
  border: 0;
  border-bottom: 1px solid #fff;
  border-radius: 0 !important;

  @include placeholder(#fff);

  &:focus {
    color: #fff;
    background: transparent;
    border-color: #fff;
    box-shadow: none;
  }
}
