mixin subscribe(data)
  .subscribe&attributes(attributes)
    h4.subscribe__dscr Оставьте свои контакты и мы напомним вам о начале диктанта
    form.subscribe__form(action="#", method="POST")
      .subscribe__field
        h2.subscribe__field-header E-mail
        .subscribe__input-wrapper
          input.subscribe__input.form-control(type="text", placeholder="E-mail")
          .subscribe__placeholder Оставьте свои контакты и мы напомним вам о начале диктанта
      button.subscribe__btn(type="submit") Напомнить
    
