.subscribe {

  @include media-breakpoint-down(md) {
    margin-bottom: 60px;
  }

  &__dscr {
    display: none;

    @include media-breakpoint-down(md) {
      margin-bottom: 20px;
      display: block;
      font-weight: 500;
    }
  }

  &__form {
    display: flex;
    width: 100%;
    height: 66px;
    background: #fff;
    border-radius: 0 5px 5px 0;

    @include media-breakpoint-down(sm) {
      flex-direction: column;
      border-radius: 5px;
    }
  }

  &__field {
    padding-left: 35px;
    display: flex;
    align-items: center;
    flex-grow: 1;

    @include media-breakpoint-down(md) {
      padding-left: 20px;
    }

    @include media-breakpoint-down(sm) {
      padding-left: 0;
    }
  }

  &__field-header {
    margin-bottom: 0;
    font-size: 32px;
    line-height: 1.2;
    font-weight: 500;
    color: $primary;

    @include media-breakpoint-down(md) {
      font-size: 20px;
    }

    @include media-breakpoint-down(sm) {
      display: none;
    }
  }

  &__input-wrapper {
    position: relative;
    padding-left: 25px;
    height: 100%;
    flex-grow: 1;

    @include media-breakpoint-down(md) {
      padding-left: 10px;
    }

    @include media-breakpoint-down(sm) {
      padding-left: 0;
    }
  }

  &__input {
    position: relative;
    z-index: 1;
    height: 100%;
    background: transparent;
    border: 0;

    @include placeholder(transparent);

    @include transition;

    @include media-breakpoint-down(sm) {

      @include placeholder($primary);

      height: 50px;
      text-align: center;
    }

    &:focus,
    &--active {
      background: transparent;
      outline: none;
      box-shadow: none;

      & ~ .subscribe__placeholder {
        z-index: 0;
        color: transparent;
      }
    }
  }

  &__placeholder {
    position: absolute;
    top: 50%;
    width: 100%;
    max-width: 320px;
    font-size: 16px;
    line-height: 1.2;
    color: $primary;
    transform: translateY(-50%);

    @include transition;

    @include media-breakpoint-down(lg) {
      display: none;
    }
  }

  &__btn {
    display: block;
    width: 100%;
    max-width: 308px;
    font-size: 32px;
    line-height: 1.2;
    text-align: center;
    color: #fff;
    background: $secondary;
    border-radius: 0 5px 5px 0;
    box-shadow: 0 2px 10px rgba(0, 0, 0, .1), 0 10px 30px rgba(0, 0, 0, .25);

    @include transition;

    &:hover {
      opacity: .75;
    }

    @include media-breakpoint-down(md) {
      padding: 10px 20px;
      width: auto;
      max-width: none;
      font-size: 20px;
    }

    @include media-breakpoint-down(sm) {
      border-radius: 0 0 5px 5px;
    }
  }
}
