.calendar {
  min-width: 214px;
  height: 28px;
  font-size: 10px;
  line-height: 12px;
  font-weight: 500;
  letter-spacing: .2em;
  text-transform: uppercase;
  background: url(../img/triangle.svg) no-repeat right 5px center;
  border: 0;
  border-bottom: 1px solid #c4c4c4;
  border-radius: 0 !important;

  @include placeholder($primary);
}
