.article {

  &__date {
    margin-bottom: 5px;
    font-size: 12px;
    line-height: 1.2;
    letter-spacing: .5em;
  }

  &__quote {
    margin-bottom: 50px;
    padding-left: 160px;
    width: calc(100% + 160px);

    @include media-breakpoint-down(md) {
      padding-left: 0;
      width: 100%;
    }

    @include media-breakpoint-down(sm) {
      padding-right: 20px;
      padding-left: 20px;
    }
  }

  &__quote-content {
    position: relative;
    font-size: 20px;
    line-height: 1.5;
    font-weight: 700;
    color: #fff;

    @include media-breakpoint-down(sm) {
      font-size: 18px;
      font-weight: 500;
    }

    &:before,
    &:after {
      position: absolute;
      display: inline;
      width: 27px;
      height: 30px;
      content: '';
      background: url(../img/quote.svg) no-repeat center;
      background-size: contain;

      @include media-breakpoint-down(sm) {
        width: 20px;
        height: 25px;
      }
    }

    &:before {
      top: -6px;
      left: -36px;

      @include media-breakpoint-down(sm) {
        left: -30px;
      }
    }

    &:after {
      margin-top: 8px;
      margin-left: 10px;
      transform: rotate(180deg);
    }
  }

  &__quote-author {
    margin-top: 20px;
    display: block;
    font-size: 11px;
    line-height: 1.2;
    font-weight: 500;
    letter-spacing: .2em;
    text-transform: uppercase;
    color: rgba(#fff, .58);
  }

  img {
    max-width: 100%;
    height: auto;
  }
}
