.socials {
  display: flex;

  &__item {
    width: 48px;
    height: 48px;

    @include transition;

    &:hover {
      opacity: .75;
    }

    @include media-breakpoint-down(lg) {
      width: 30px;
      height: 30px;
    }

    & + & {
      margin-left: 10px;
    }

    &--fb {
      background: url(../img/fb.svg) no-repeat center;
      background-size: contain;
    }

    &--vk {
      background: url(../img/vk.svg) no-repeat center;
      background-size: contain;
    }

    &--ok {
      background: url(../img/ok.svg) no-repeat center;
      background-size: contain;
    }

    &--ig {
      background: url(../img/ig.svg) no-repeat center;
      background-size: contain;
    }

    &--yt {
      background: url(../img/yt.svg) no-repeat center;
      background-size: contain;
    }

    &--ya {
      background: url(../img/ya.svg) no-repeat center;
      background-size: contain;
    }

    &--gm {
      background: url(../img/gm.svg) no-repeat center;
      background-size: contain;
    }
  }

  &--colored {

    .socials__item {

      & + .socials__item {
        margin-left: 2px;
      }

      &--fb {
        background: url(../img/fb--color.svg) no-repeat center;
        background-size: contain;
      }

      &--vk {
        background: url(../img/vk--color.svg) no-repeat center;
        background-size: contain;
      }

      &--ok {
        background: url(../img/ok--color.svg) no-repeat center;
        background-size: contain;
      }

      &--tg {
        background: url(../img/tg--color.svg) no-repeat center;
        background-size: contain;
      }

      &--tw {
        background: url(../img/tw--color.svg) no-repeat center;
        background-size: contain;
      }
    }
  }
}
