mixin socials(data)
  .socials&attributes(attributes)
    if data && data.modifier == 'color'
      a.socials__item.socials__item--tw(href="#")
      a.socials__item.socials__item--tg(href="#")
    a.socials__item.socials__item--fb(href="#")
    a.socials__item.socials__item--vk(href="#")
    a.socials__item.socials__item--ok(href="#")
    if data && data.modifier == 'enter'
      a.socials__item.socials__item--ya(href="#")
      a.socials__item.socials__item--gm(href="#")
    else if data && data.modifier == 'color'
    else
      a.socials__item.socials__item--ig(href="#")
      a.socials__item.socials__item--yt(href="#")
