mixin info(data)
  .info&attributes(attributes)
    .row
      .col-lg-6
        .pr-lg-50
          h2.text-white Что мы измеряем?
          p.text-white Диктант состоит из вопросов, разработанных с учетом разных возрастных категорий: для детей (14-17 лет) и для взрослых (18+), и разделенных на 3 смысловых блока. Первый блок посвящен основам компьютерной грамотности, а именно, различным устройствам и знаниям базовых программ. Второй – работе с интернетом, социальными сетями и онлайн-приложениями. Третий – кибербезопасности, в том числе защите персональных данных.
      .col-lg-6
        .pl-lg-50
          .mb-30.mb-lg-65.text-white
            h2 Этапы проведения
            .h1.info__date 28 марта 2020
            h3 официальный старт акции и офлайн-мероприятия с участием амбассадоров проекта в Москве и других городах
            a.btn.btn-white.mt-10(href="#") Выбрать мероприятие
          .text-white
            .h1.info__date 28 марта — 11 апреля 2020
            h3 онлайн-тестирование и серия региональных мероприятий
            a.btn.btn-white.mt-10(href="#") Выбрать мероприятие

