mixin footer(data)
  .footer&attributes(attributes)
    .container
      .row
        .col-lg-3.col-xl-4.mb-30.mb-lg-0
          h4.mb-15 Социальные сети
          +socials
        .col-lg-4.col-xl-3.mb-30.mb-lg-0
          h4.mb-25 Контактная информация
          h4.mb-25 Телефон: <br>+7 (495) 638 53 65 
          h4 Официальный сайт РОЦИТ <br>
            a(href="rocit.ru").text-white rocit.ru
        .col-lg-5
          .footer__fund
            a.footer__fund-logo(href="#")
              img.footer__fund-logo-img(src="./img/fund-logo.svg", alt)
              span.footer__fund-dscr Проект реализован с использованием гранта Президента Российской Федерации на развитие гражданского общества, предоставленного Фондом президентских грантов.
