.footer {
  padding: 60px 0;

  @include media-breakpoint-down(lg) {
    padding: 30px 0;
  }

  &__fund {
  }

  &__fund-logo {
  }

  &__fund-logo-img {
    max-width: 100%;
  }

  &__fund-dscr {
    margin-top: 18px;
    padding-left: 68px;
    display: block;
    font-size: 14px;
    line-height: 1.2;
    color: #fff;

    @include media-breakpoint-down(lg) {
      padding-left: 0;
    }
  }
}
