.partners {
  padding: 40px 0;
  background: #fff;

  &__item {
    padding: 30px 20px;
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
  }

  &__logo {
    max-width: 100%;
    max-height: 92px;
  }

  &__row {
  }

  &__row-header {
    margin-top: 20px;
    padding-bottom: 3px;
    color: #000;
    border-bottom: 1px solid #c4c4c4;
  }

  &--section {
    margin-top: auto;
    padding-top: 30px;

    .partners__row-header {
      margin-top: 0;
      text-align: center;
      color: #00649d;
      border-bottom: 0;
    }

    .partners__item {
      padding: 20px;
    }
  }
}
