mixin partners(data)
  .partners&attributes(attributes)
    if data && data.modifier == 'organizers'
      .container
        h4.partners__row-header Организаторы акции
        .row.justify-content-center
          .col-6.col-md-4.col-lg-3.col-xl-2.d-flex
            .partners__item
              img.partners__logo(src="./img/partner-1.png", alt)
          .col-6.col-md-4.col-lg-3.col-xl-2.d-flex
            .partners__item
              img.partners__logo(src="./img/partner-3.png", alt)
          .col-6.col-md-4.col-lg-3.col-xl-2.d-flex
            .partners__item
              img.partners__logo(src="./img/partner-6.png", alt)
          .col-6.col-md-4.col-lg-3.col-xl-2.d-flex
            .partners__item
              img.partners__logo(src="./img/partner-31.svg", alt)
    else
      .container
        .partners__row
          h4.partners__row-header Организаторы акции
          .row
            .col-6.col-md-4.col-lg-3.col-xl-2.d-flex
              .partners__item
                img.partners__logo(src="./img/partner-1.png", alt)
            .col-6.col-md-4.col-lg-3.col-xl-2.d-flex
              .partners__item
                img.partners__logo(src="./img/partner-2.png", alt)
            .col-6.col-md-4.col-lg-3.col-xl-2.d-flex
              .partners__item
                img.partners__logo(src="./img/partner-6.png", alt)
        .partners__row
          h4.partners__row-header Информационные партнеры
          .row
            .col-6.col-md-4.col-lg-3.col-xl-2.d-flex
              .partners__item
                img.partners__logo(src="./img/partner-3.png", alt)
            .col-6.col-md-4.col-lg-3.col-xl-2.d-flex
              .partners__item
                img.partners__logo(src="./img/partner-30.svg", alt)
