.enter {
  min-height: 100vh;
  text-align: center;
  background: url(../img/enter-bg.svg) no-repeat top 47px center;

  &__header {
    margin-bottom: 0;
    text-align: center;
    color: #fff;
  }

  &__header-link {
    display: inline-block;
    color: #fff;
    border: 1px solid #fff;

    @include transition;

    &:hover {
      opacity: .7;
      color: #fff;
    }
  }

  &--centering {
    padding-top: 320px;

    @include media-breakpoint-down(sm) {
      padding-top: 150px;
    }
  }
}
