.custom-front {
  margin: 0 auto;
  max-width: 670px;
  text-align: center;
  color: #fff;

  &__handwritten {
    margin-bottom: 20px;
    padding-bottom: 35px;
    width: 100%;
    height: 72px;
    font-family: $font-handwritten;
    font-size: 72px;
    line-height: .5;
    background: url(../img/handwritten-title.svg) no-repeat center;
    background-size: contain;

    @include media-breakpoint-down(sm) {
      font-size: 38px;
      line-height: 1;
    }
  }

  &__rules {
    margin-bottom: 35px;
    padding: 20px 25px;
    border: 1px solid #fff;
  }

  &__rules-handwritten {
    margin-bottom: 17px;
    max-width: 100%;
    font-family: $font-handwritten;
    font-size: 24px;
    line-height: 1;
  }

  &__form {
    margin: 0 auto;
    margin-top: 60px;
    max-width: 460px;
  }
}
