.tabs {

  &__header {
    margin-bottom: 25px;
    display: flex;
    justify-content: space-between;
  }

  &__btn {
    font-size: 32px;
    line-height: 1;
    font-weight: 500;
    color: #919195;

    @include transition;

    @include media-breakpoint-down(md) {
      font-size: 24px;
    }

    & + & {
      margin-left: 20px;
    }

    &--active {
      color: $primary;
    }

    &:hover {

      @include media-breakpoint-down(md) {
        color: #009651;
      }
    }
  }

  &__content {
  }

  &__item {
    display: none;

    &--active {
      display: block;
    }
  }
}
