extends ../templates/template.pug
block content
  +header
  .container.py-50.py-lg-100.mt-60.mt-md-90
    .px-xl-100
      h1.text-white.mb-15 О проекте
      .row
        .col-lg-8.offset-lg-1
          p В 2020 году всероссийская акция "Цифровой диктант" пройдет с 4 по 10 февраля и станет самой масштабной в России проверкой знаний в области цифровой грамотности. Каждый пользователь сможет проверить свои навыки работы с компьютером и другими устройствами, а также знание правил безопасности в сети и культуры общения.
          h2.mb-20.mt-30 Что мы измеряем?
          p Диктант состоит из вопросов, разработанных с учетом разных возрастных категорий: для детей (14-17 лет) и для взрослых (18+), и разделенных на три смысловых блока. Первый блок посвящен основам компьютерной грамотности, а именно, различным устройствам и знаниям базовых программ. Второй – работе с интернетом, социальными сетями и онлайн-приложениями. Третий – кибербезопасности, в том числе защите персональных данных.
          h2.mb-20.mt-30 Как проходит акция?
          p В этом году акция пройдет в 2 этапа:
          p 4 февраля 2020 года состоится офлайн-тестирование на различных площадках в Москве и других городах.
          p С 4 по 10 февраля все желающие смогут пройти онлайн-тестирование на сайте акции. Дистанционное прохождение диктанта будет доступно для жителей всех регионов России.
  +partners
  +footer
