extends ../templates/template.pug
block content
  +header
  .article
    .container
      .px-xl-100.py-30.pt-xl-90.mt-60.mt-lg-90
        .row
          .col-lg-8.order-lg-1.order-2
            p.article__date 03.05.2019
            h1.mb-20 Только 37% россиян знают, как противостоять кибермошенникам
          .col-lg-4.order-lg-2.order-1.d-flex.justify-content-lg-end.align-items-start.mb-30.mb-lg-0.pl-20.pl-sm-0
            a.btn.btn-outline-primary.btn-outline-primary--white.btn--back(href="#") К СПИСКУ НОВОСТЕЙ
        .row
          .col-lg-8.offset-lg-1
            h3 Digital Диктант прошел во всех регионах России, в инициативе приняли участие почти сорок тысяч человек. Среднее значение уровня цифровой грамотности составило 7,15 балла из 10 возможных. Наибольшую сложность у участников вызвали вопросы, связанные с цифровой безопасностью.
            img.img-fluid.my-20.my-lg-40(src="./img/news.png", alt)
            p Цифровая грамотность помогает ориентироваться в потоке информации, пользоваться интернетом и технологиями с пользой для себя, защищать личные данные, расширять наши возможности в реальной жизни.
            p Оценка по итогам проекта — не главное. Digital диктант 2019 проводится для того, чтобы каждый из нас увидел каких знаний ему не хватает, понял, почему недостаточная осведомленность может повлечь за собой серьезные последствия не только в цифровом мире, но и в реальном. Задача Digital диктанта — прокачать цифровую культуру, развить способность защищать себя в сети и повысить уровень цифровых компетенций. <br>Цифровая грамотность помогает ориентироваться в потоке информации, пользоваться интернетом и технологиями с пользой для себя, защищать личные данные, расширять наши возможности в реальной жизни.
            .article__quote
              .article__quote-content На протяжении последних 4 лет в рамках исследования «Индекс цифровой грамотности» РОЦИТ измерял уровень цифрового потребления граждан, их цифровые компетенции, а также навыки в области цифровой безопасности. При этом исследование в большей степени позволяло получить самооценочные суждения участников об их цифровой грамотности. Digital Диктант же позволил нам совершить прорыв и приблизиться к пользователям из абсолютно всех регионов РФ. 
              span.article__quote-author СЕРГЕЙ ГРЕБЕННИКОВ, ДИРЕКТОР РОЦИТ
            p Цифровая грамотность помогает ориентироваться в потоке информации, пользоваться интернетом и технологиями с пользой для себя, защищать личные данные, расширять наши возможности в реальной жизни.
            p Оценка по итогам проекта — не главное. Digital диктант 2019 проводится для того, чтобы каждый из нас увидел каких знаний ему не хватает, понял, почему недостаточная осведомленность может повлечь за собой серьезные последствия не только в цифровом мире, но и в реальном. Задача Digital диктанта — прокачать цифровую культуру, развить способность защищать себя в сети и повысить уровень цифровых компетенций. <br>Цифровая грамотность помогает ориентироваться в потоке информации, пользоваться интернетом и технологиями с пользой для себя, защищать личные данные, расширять наши возможности в реальной жизни.
            a.btn.btn-outline-primary.btn-outline-primary--white.mt-30(href="#") СКАЧАТЬ ДОКУМЕНТ
  +partners
  +footer
