extends ../templates/template-white.pug
block content
  +header
  .cabinet.pt-60.pt-lg-30
    .cabinet__wrapper
      .container.py-50.py-lg-100
        .mb-25
          .cabinet__user
            .cabinet__userpic
            .cabinet__user-content
              h2.text-primary.mb-0 segreev@gmail.com
              a.cabinet__user-edit(href="#") Редактировать профиль
        .col-lg-10.mx-auto
          .test.test--custom
            .test__content
              .test__result.test__result--cabinet.test__result--blue
                .test__result-year 2020
                .test__result-header.justify-content-between
                  .test__result-header-left
                    h3.test__result-title Ваш результат Цифрового Диктанта
                    p Вы ответили верно на 10 из 30 вопросов
                  .test__result-rating 
                    span.test__result-number 8
                    |/10
                .test__result-details
                  .row
                    .col-md-4
                      h4 Цифровое потребление
                      .test__result-details-number
                        span.test__result-details-number-main 8
                        | /10
                      p.p--sm.text-dark.pr-lg-30 Вы купили новый ноутбук, на котором установлена последняя версия 
                    .col-md-4
                      h4 Цифровые компетенциии
                      .test__result-details-number
                        span.test__result-details-number-main 3
                        | /10
                      p.p--sm.text-dark.pr-lg-30 Вы купили новый ноутбук, на котором установлена последняя версия 
                    .col-md-4
                      h4 Цифровая безопасность
                      .test__result-details-number
                        span.test__result-details-number-main 9
                        | /10
                      p.p--sm.text-dark.pr-lg-30 Вы купили новый ноутбук, на котором установлена последняя версия 
                .test__result-footer
                  a.btn.btn-primary.btn-lg.btn-shadow.test__certificate(href="#") Скачать сертификат
    .bg-primary.py-30.py-lg-65.mb-40
      .cabinet__wrapper
        .container
          h2.text-white Работа над ошибками
          p.mb-0.text-white Хотите узнать, на какие вопросы вы ответили неверно? Вы сможете это сделать, как только завершится акция. А чтобы вы об этом не забыли, мы отправим на ваш e-mail напоминание.
    .bg-primary.py-30.pt-lg-70.pb-lg-45.mb-40.mb-lg-90
      .cabinet__wrapper
        .container
          h2.text-white Работа над ошибками
          .row
            .col-lg-6
              a.btn.btn-white.btn-lg.w-100.mt-30(href="#") Начать
    .cabinet__wrapper
      .container
        h2.text-primary.mb-35 Рекомендации
        .row
          .col-md-6.col-lg-4
            +news({
              modifier: 'tagged'
            }).news--white
          .col-md-6.col-lg-4
            +news({
              modifier: 'tagged'
            }).news--white
          .col-md-6.col-lg-4
            +news({
              modifier: 'tagged'
            }).news--white
          .col-md-6.col-lg-4
            +news({
              modifier: 'tagged'
            }).news--white
          .col-md-6.col-lg-4
            +news({
              modifier: 'tagged'
            }).news--white
          .col-md-6.col-lg-4
            +news({
              modifier: 'tagged'
            }).news--white
  +certificate
  +footer
