extends ../templates/template-white.pug
block content
  +header
  .cabinet.pt-60.pt-lg-30
    .cabinet__wrapper
      .container.py-50.py-lg-100
        .mb-25
          .cabinet__user
            .cabinet__userpic
            .cabinet__user-content
              h2.text-primary.mb-0 segreev@gmail.com
              a.cabinet__user-edit(href="#") Редактировать профиль
        .col-lg-10.mx-auto
          .test.pb-20.pb-sm-30
            .test__content
              .test__result.test__result--cabinet.test__result--blue
                .test__result-tabs
                  h4.test__result-tabs-item
                    a.test__result-tabs-link(href="#") Цифровой диктант 2020
                  h4.test__result-tabs-item
                    a.test__result-tabs-link.test__result-tabs-link--active(href="#") Русский язык
                .test__result-header.justify-content-between
                  .test__result-header-left
                    h3.test__result-title Ваш результат Цифрового Диктанта по русскому языку
                    p Вы ответили верно на 10 из 30 вопросов
                  .test__result-rating 
                    span.test__result-number 18
                    |/30
                .test__result-footer
                  a.btn.btn-primary.btn-lg.btn-shadow.test__certificate(href="#") Скачать сертификат
    .py-30.py-lg-65.mb-40(style="background: url(./img/custom-bg.png) no-repeat center; background-size: cover;")
      .cabinet__wrapper
        .container
          .row
            .col-lg-11
              h2.text-white Работа над ошибками
              p.mb-0.text-white Хотите узнать, на какие вопросы вы ответили неверно? Вы сможете это сделать, как только завершится акция. А чтобы вы об этом не забыли, мы отправим на ваш e-mail напоминание.
    .py-30.pt-lg-70.pb-lg-45.mb-40.mb-lg-90(style="background: url(./img/custom-bg-2.png) no-repeat center; background-size: cover;")
      .cabinet__wrapper
        .container
          h2.text-white Работа над ошибками
          .row
            .col-lg-6
              a.btn.btn-white.btn-lg.w-100.mt-30.text-blue(href="#") Начать
  +footer
