extends ../templates/template-white.pug
block content
  +header
  .cabinet.pt-60.pt-lg-30
    .cabinet__wrapper
      .container.py-50.py-lg-100
        .mb-30.mb-sm-50
          .cabinet__user
            .cabinet__userpic(style="background-image: url(./img/user.jpg);")
            .cabinet__user-content
              h2.text-primary.mb-0 Василий Сергеев
              a.cabinet__user-edit(href="#") Редактировать профиль
        .mb-30.mb-sm-50.mb-xl-100.pb-xl-45
          h2.text-dark Вы еще не прошли цифровой диктант
          a.btn.btn-primary.btn-shadow.btn-lg(href="#") Пройти сейчас
        .mb-30.mb-sm-50.mb-xl-100
          h2.text-dark Акция «Цифровой Диктант 2020» завершена. К сожалению, вы не успели пройти тестирование в период проведения акции с 28 марта по 11 апреля. Возвращайтесь в следующем году! <br>Мы напомним вам о старте.
        .mb-30.mb-sm-50.mb-xl-100
          h2 Рекомендации
          h2.text-dark У вас еще нет рекомендаций
        h2.text-primary.mb-30 Популярные материалы
        .row
          .col-md-6.col-lg-4
            +news({
              modifier: 'tagged'
            }).news--white
          .col-md-6.col-lg-4
            +news({
              modifier: 'tagged'
            }).news--white
          .col-md-6.col-lg-4
            +news({
              modifier: 'tagged'
            }).news--white
          .col-md-6.col-lg-4
            +news({
              modifier: 'tagged'
            }).news--white
          .col-md-6.col-lg-4
            +news({
              modifier: 'tagged'
            }).news--white
          .col-md-6.col-lg-4
            +news({
              modifier: 'tagged'
            }).news--white
  +footer
