extends ../templates/template-white.pug
block content
  +header
  .cabinet.pt-60.pt-lg-30
    .cabinet__wrapper
      .container.py-50.py-lg-100
        form.form--dark(action="#", method="POST")
          .row.mb-20.mb-md-0
            .col-4.col-sm-3.col-md-2
              .cabinet__user
                .cabinet__userpic(style="background-image: url(./img/user.jpg);")
            .col-8.col-sm-5.d-flex.align-items-center
              a.btn.btn-outline-primary.px-10.w-auto(href="#") Изменить фотографию
          .row
            .col-md-5.offset-md-2
              .form__item.form-group.mb-20
                input.input.form-control(type="text", placeholder="Имя", value="Василий")
              .form__item.form-group
                input.input.form-control(type="email", placeholder="E-mail", value="jdhfnncdcj@gmail.com")
              .form__item.form-group.mb-20
                input.input.form-control(type="password", placeholder="E-mail", value="gdgjhdfjkghdklg")
              a.btn.btn-outline-primary.px-20.w-auto(href="#") Изменить пароль
              div
                button.btn.btn-primary.btn-lg.btn-shadow.mt-30.mt-lg-60(type="submit") Готово
  +footer
