extends ../templates/template-white.pug
block content
  +header
  div(style="background: url(./img/custom-bg.png) no-repeat center; background-size: cover;")
    .container.py-50.py-lg-85.mt-60.mt-md-90
      .custom-front
        h2.mb-0 Добро пожаловать <br>на Цифровой Диктант
        img.w-100(src="./img/handwritten-title.svg", alt)
        h4.mt-20.mb-25.px-lg-40 Диктант приурочен ко Дню русского языка и поможет вам проверить свои знания в формате теста. 
        .custom-front__rules
          img.custom-front__rules-handwritten(src="./img/handwritten-rules.svg", alt)
          p.mb-0 К каждому вопросу будет предложено четыре варианта ответа, только один из которых верный. Выберите тот ответ, который считаете правильным, и нажмите на кнопку “Следующий вопрос”.
        p Для того, чтобы начать диктант, введите свой e-mail. Будьте внимательны и проверьте введенный адрес. После того, как вы пройдете тестирование, на этот e-mail будет направлен ваш результат и ссылка для создания личного кабинета.
        form.form.custom-front__form(action="#", method="POST")
          .form__item.form-group.mb-15
            input.input.form-control(type="email", placeholder="E-mail")
          p После нажатия на кнопку “Начать диктант” вы перейдете к тестированию. Время прохождения тестирования не ограничено.
          button.btn-handwritten.w-100.mb-30(type="submit")
            img(src="./img/handwritten-btn-white.svg", alt)
          a.btn.btn-link.mt-10.p-0(href="#") Политика конфиденциальности
  +partners({
    modifier: 'organizers'
  }).partners--section
