extends ../templates/template-white.pug
block content
  +header
  .container.pt-50.mt-60.mt-md-90
    .library.px-xl-100
      .row  
        .col-xl-5
          p.font-weight-medium.mb-20 Библиотека образовательно-просветительских материалов по цифровой грамотности
      .tabs
        .tabs__header
          a.tabs__btn.tabs__btn--active(href="#") Онлайн-материалы
          a.tabs__btn(href="#") Карта цифровых возможностей
        .tabs__content
          .tabs__item.tabs__item--active
            form.library__filters.mb-30.mb-lg-50(action="", method="POST")
              .library__filters-section
                .library__filters-header ФИЛЬТРЫ
                .library__filters-content
                  +tag-filter({
                    title: 'Все', 
                    id: 'tag1', 
                    isChecked: 'true'
                  }).tag-filter--row
                  +tag-filter({
                    title: '14—17 лет', 
                    id: 'tag2', 
                  }).tag-filter--row
                  +tag-filter({
                    title: 'СТАРШЕ 18 лет', 
                    id: 'tag3', 
                  }).tag-filter--row
                  +tag-filter({
                    title: 'ОНЛАЙН-УРОКИ', 
                    id: 'tag4', 
                  }).tag-filter--row
                  +tag-filter({
                    title: 'ВИДЕО', 
                    id: 'tag5', 
                  }).tag-filter--row
                  +tag-filter({
                    title: 'ИНФОГРАФИКА', 
                    id: 'tag6', 
                  }).tag-filter--row
                  +tag-filter({
                    title: 'ПОСОБИЯ', 
                    id: 'tag7', 
                  }).tag-filter--row
            .row
              .col-md-6.col-lg-4
                +news({
                  modifier: 'tagged'
                }).news--white
              .col-md-6.col-lg-4
                +news({
                  modifier: 'tagged'
                }).news--white
              .col-md-6.col-lg-4
                +news({
                  modifier: 'tagged'
                }).news--white
              .col-md-6.col-lg-4
                +news({
                  modifier: 'tagged'
                }).news--white
              .col-md-6.col-lg-4
                +news({
                  modifier: 'tagged'
                }).news--white
              .col-md-6.col-lg-4
                +news({
                  modifier: 'tagged'
                }).news--white
          .tabs__item
            form.library__filters(action="", method="POST")
              .library__filters-section
                .library__filters-header ТЕМЫ
                .library__filters-content
                  +tag-filter({
                    title: 'Все', 
                    id: 'tag8', 
                    isChecked: 'true'
                  }).tag-filter--row
                  +tag-filter({
                    title: 'кибербезопасность', 
                    id: 'tag9', 
                  }).tag-filter--row
                  +tag-filter({
                    title: 'компьютерная грамотность', 
                    id: 'tag10', 
                  }).tag-filter--row
                  +tag-filter({
                    title: 'социальные сети', 
                    id: 'tag11', 
                  }).tag-filter--row
                  +tag-filter({
                    title: 'цифровые компетенции', 
                    id: 'tag12', 
                  }).tag-filter--row
              .library__filters-mobile-btn Фильтры
              .library__filters-section.library__filters-mobile
                .library__filters-header Фильтры
                .library__filters-content.library__filters-content--row.mx-0
                  .library__filters-subsection
                    +tag-filter({
                      title: '14—17 лет', 
                      id: 'tag13', 
                    }).tag-filter--wide.mb-25
                    +tag-filter({
                      title: 'СТАРШЕ 18 лет', 
                      id: 'tag14', 
                    }).tag-filter--wide
                  .library__filters-subsection.library__filters-selects
                    +calendar.mb-25
                    +select({
                      placeholder: 'Выбрать город'
                    })
                  .library__filters-subsection
                    .library__range-wrapper
                      .custom-control.custom-radio
                        input#customRadio1.custom-control-input(type='radio', name='customRadio', checked)
                        label.custom-control-label(for='customRadio1') Платно
                      +range.ml-20
                    .custom-control.custom-radio
                      input#customRadio2.custom-control-input(type='radio', name='customRadio')
                      label.custom-control-label(for='customRadio2') Бесплатно
                  .library__filters-subsection.library__filters-types
                    +tag-filter({
                      title: 'ОНЛАЙН', 
                      id: 'tag15', 
                    }).tag-filter--type.tag-filter--online
                    +tag-filter({
                      title: 'ОФЛАЙН', 
                      id: 'tag16', 
                    }).tag-filter--type.tag-filter--offline
            .row
              .col-md-6.col-lg-4.d-flex.mb-50
                +event({
                  type: 'онлайн',
                  tag: 'компьютерная грамотность',
                  price: 'Бесплатно'
                }).event--online
              .col-md-6.col-lg-4.d-flex.mb-50
                +event({
                  type: 'ОФЛАЙН',
                  tag: 'СОЦИАЛЬНЫЕ СЕТИ',
                  price: '4 500 P'
                }).event--offline
              .col-md-6.col-lg-4.d-flex.mb-50
                +event({
                  type: 'онлайн',
                  tag: 'ЦИФРОВЫЕ КОМПЕТЕНЦИИ',
                  price: 'Бесплатно'
                }).event--online
              .col-md-6.col-lg-4.d-flex.mb-50
                +event({
                  type: 'онлайн',
                  tag: 'компьютерная грамотность',
                  price: '4 500 P'
                }).event--online
              .col-md-6.col-lg-4.d-flex.mb-50
                +event({
                  type: 'онлайн',
                  tag: 'КИБЕРБЕЗОПАСНОСТЬ',
                  price: 'Бесплатно'
                }).event--online
              .col-md-6.col-lg-4.d-flex.mb-50
                +event({
                  type: 'онлайн',
                  tag: 'компьютерная грамотность',
                  price: '4 500 P'
                }).event--online
  +partners
  +footer
