extends ../templates/template.pug
block content
  +header
  .enter.enter--centering
    .container
      h1.enter__header Вы уже прошли Цифровой Диктант. <br>Ваш результат доступен <br>
        a.enter__header-link.px-20(href="#") в личном кабинете
