extends ../templates/template.pug
block content
  +header
  .enter.pt-60.pt-lg-30
    .container.py-50.py-lg-100
      .row
        .col-lg-6.mx-auto
          h1.text-white.text-center.mb-20 Добро пожаловать <br>на Цифровой Диктант!
          p.text-center Для того, чтобы начать диктант, введите свой e-mail. Будьте внимательны и проверьте введенный адрес. После того, как вы пройдете тестирование, на этот e-mail будет отправлен ваш результат и ссылка для создания личного кабинета.
      .row
        .col-lg-5.mx-auto
          form.form.w-100(action="#", method="POST")
            .form__item.form-group
              input.input.form-control(type="email", placeholder="E-mail")
            button.btn.btn-white(type="submit") Выбрать возрастную категорию
            a.btn.btn-link.mt-15.p-0(href="#") Политика конфиденциальности
