extends ../templates/template.pug
block content
  +header
  .enter.pt-60.pt-lg-30
    .container.py-50.py-lg-100
      .row
        .col-lg-5.mx-auto
          h1.text-white.text-center.mb-50 Авторизация
          form.form(action="#", method="POST")
            .form__item.form-group
              input.input.form-control(type="email", placeholder="E-mail")
              .invalid-feedback Неправильный формат электронной почты
            .form__item.form-group
              input.input.form-control(type="password", placeholder="Пароль")
            button.btn.btn-white(type="submit") Войти
            .d-flex.flex-column.align-items-center
              a.btn.btn-link.p-0.my-15(href="#") Политика конфиденциальности
              a.btn.btn-outline-white(href="#") Восстановление пароля
              a.btn.btn-outline-white.mt-10(href="#") Зарегистрироваться
  +partners
  +footer
