extends ../templates/template.pug
block content
  +header
  +front({
    modifier: 'start'
  }).front--start
  .container
    .px-xl-100
      +countdown
      +subscribe
      +info.my-30.my-lg-80
      h2.mb-15 Новости
      .row
        .col-md-4
          +news
        .col-md-4
          +news
        .col-md-4
          +news
      .text-center.mt-30.pb-35
        a.btn.btn-outline-primary.btn-outline-primary--white(href="#") Все новости
  +partners
  +footer
