extends ../templates/template.pug
block content
  +header
  .container.py-50.py-lg-100.mt-60.mt-md-90
    .px-xl-100
      h1.text-white.mb-30.mb-lg-50 Новости
      .row
        .col-md-6
          +news.news--big
        .col-md-6
          +news.news--big
        .col-md-6
          +news.news--big
        .col-md-6
          +news.news--big
  +partners
  +footer
