extends ../templates/template.pug
block content
  +header
  .container.py-50.py-lg-100.mt-60.mt-md-90
    .px-xl-100
      h1.text-white.mb-15 Стать партнером
      .row
        .col-lg-8.offset-lg-1
          p Если вы заинтересованы в проведении диктанта на своей площадке или хотите стать партнером акции, направляйте запросы на электронную почту 
            a.text-white.text-underline(href="mailto:pr@rocit.ru") pr@rocit.ru 
            | с пометкой “Цифровой диктант 2020”.
  +partners
  +footer
