extends ../templates/template.pug
block content
  +header
  .enter.pt-60.pt-lg-30
    .container.py-50.py-lg-100
      h1.text-white.text-center.mb-50 Восстановление пароля
      .row
        .col-lg-5.mx-auto
          form.form(action="#", method="POST")
            .form__item.form-group
              input.input.form-control(type="email", placeholder="E-mail")
              .invalid-feedback Неправильный формат электронной почты
            button.btn.btn-white(type="submit") Восстановить
            a.btn.btn-outline-white.mt-40(href="#") На страницу авторизации
