extends ../templates/template.pug
block content
  +header
  .container.py-50.py-lg-100.mt-60.mt-md-90
    .px-xl-100
      h1.text-white.mb-15.mb-sm-0 Региональные площадки
      p Выберите федеральный округ
      .regions
        .regions__map
          include ../blocks/regions/img/russia.svg
        .regions__content
          .regions__item.regions__item--active(data-region="central")
            h2.regions__name-item Центральный ФО
            .regions__item-content
              .regions__city
                h2.mb-25 Москва
                .regions__address
                  p.mb-0 Миусская улица д 21, стр. 3
                  a.btn.btn-outline-white.regions__btn(href="#") Зарегистрироваться
                .regions__address
                  p.mb-0 Миусская улица д 21, стр. 3
                  a.btn.btn-outline-white.regions__btn(href="#") Зарегистрироваться
                .regions__address
                  p.mb-0 Миусская улица д 21, стр. 3
                  a.btn.btn-outline-white.regions__btn(href="#") Зарегистрироваться
                .regions__address
                  p.mb-0 Миусская улица д 21, стр. 3
                  a.btn.btn-outline-white.regions__btn(href="#") Зарегистрироваться
          .regions__item(data-region="north-west")
            h2.regions__name-item Северо-Западный ФО
            .regions__item-content
              .regions__city
                h2.mb-25 Город 1
                .regions__address
                  p.mb-0 Миусская улица д 21, стр. 3
                  a.btn.btn-outline-white.regions__btn(href="#") Зарегистрироваться
                .regions__address
                  p.mb-0 Миусская улица д 21, стр. 3
                  a.btn.btn-outline-white.regions__btn(href="#") Зарегистрироваться
                .regions__address
                  p.mb-0 Миусская улица д 21, стр. 3
                  a.btn.btn-outline-white.regions__btn(href="#") Зарегистрироваться
                .regions__address
                  p.mb-0 Миусская улица д 21, стр. 3
                  a.btn.btn-outline-white.regions__btn(href="#") Зарегистрироваться
              .regions__city
                h2.mb-25 Город 2
                .regions__address
                  p.mb-0 Миусская улица д 21, стр. 3
                  a.btn.btn-outline-white.regions__btn(href="#") Зарегистрироваться
                .regions__address
                  p.mb-0 Миусская улица д 21, стр. 3
                  a.btn.btn-outline-white.regions__btn(href="#") Зарегистрироваться
                .regions__address
                  p.mb-0 Миусская улица д 21, стр. 3
                  a.btn.btn-outline-white.regions__btn(href="#") Зарегистрироваться
                .regions__address
                  p.mb-0 Миусская улица д 21, стр. 3
                  a.btn.btn-outline-white.regions__btn(href="#") Зарегистрироваться
          .regions__item(data-region="south")
            h2.regions__name-item Южный ФО
            .regions__item-content
              .regions__city
                h2.mb-25 Город 3
                .regions__address
                  p.mb-0 Миусская улица д 21, стр. 3
                  a.btn.btn-outline-white.regions__btn(href="#") Зарегистрироваться
                .regions__address
                  p.mb-0 Миусская улица д 21, стр. 3
                  a.btn.btn-outline-white.regions__btn(href="#") Зарегистрироваться
                .regions__address
                  p.mb-0 Миусская улица д 21, стр. 3
                  a.btn.btn-outline-white.regions__btn(href="#") Зарегистрироваться
                .regions__address
                  p.mb-0 Миусская улица д 21, стр. 3
                  a.btn.btn-outline-white.regions__btn(href="#") Зарегистрироваться
          .regions__item(data-region="northern-caucasus")
            h2.regions__name-item Северо-Кавказский ФО
            .regions__item-content
              .regions__city
                h2.mb-25 Город 4
                .regions__address
                  p.mb-0 Миусская улица д 21, стр. 3
                  a.btn.btn-outline-white.regions__btn(href="#") Зарегистрироваться
                .regions__address
                  p.mb-0 Миусская улица д 21, стр. 3
                  a.btn.btn-outline-white.regions__btn(href="#") Зарегистрироваться
                .regions__address
                  p.mb-0 Миусская улица д 21, стр. 3
                  a.btn.btn-outline-white.regions__btn(href="#") Зарегистрироваться
                .regions__address
                  p.mb-0 Миусская улица д 21, стр. 3
                  a.btn.btn-outline-white.regions__btn(href="#") Зарегистрироваться
          .regions__item(data-region="volga")
            h2.regions__name-item Приволжский ФО
            .regions__item-content
              .regions__city
                h2.mb-25 Город 5
                .regions__address
                  p.mb-0 Миусская улица д 21, стр. 3
                  a.btn.btn-outline-white.regions__btn(href="#") Зарегистрироваться
                .regions__address
                  p.mb-0 Миусская улица д 21, стр. 3
                  a.btn.btn-outline-white.regions__btn(href="#") Зарегистрироваться
                .regions__address
                  p.mb-0 Миусская улица д 21, стр. 3
                  a.btn.btn-outline-white.regions__btn(href="#") Зарегистрироваться
                .regions__address
                  p.mb-0 Миусская улица д 21, стр. 3
                  a.btn.btn-outline-white.regions__btn(href="#") Зарегистрироваться
          .regions__item(data-region="ural")
            h2.regions__name-item Уральский ФО
            .regions__item-content
              .regions__city
                h2.mb-25 Город 6
                .regions__address
                  p.mb-0 Миусская улица д 21, стр. 3
                  a.btn.btn-outline-white.regions__btn(href="#") Зарегистрироваться
                .regions__address
                  p.mb-0 Миусская улица д 21, стр. 3
                  a.btn.btn-outline-white.regions__btn(href="#") Зарегистрироваться
                .regions__address
                  p.mb-0 Миусская улица д 21, стр. 3
                  a.btn.btn-outline-white.regions__btn(href="#") Зарегистрироваться
                .regions__address
                  p.mb-0 Миусская улица д 21, стр. 3
                  a.btn.btn-outline-white.regions__btn(href="#") Зарегистрироваться
          .regions__item(data-region="siberia")
            h2.regions__name-item Сибирский ФО
            .regions__item-content
              .regions__city
                h2.mb-25 Город 7
                .regions__address
                  p.mb-0 Миусская улица д 21, стр. 3
                  a.btn.btn-outline-white.regions__btn(href="#") Зарегистрироваться
                .regions__address
                  p.mb-0 Миусская улица д 21, стр. 3
                  a.btn.btn-outline-white.regions__btn(href="#") Зарегистрироваться
                .regions__address
                  p.mb-0 Миусская улица д 21, стр. 3
                  a.btn.btn-outline-white.regions__btn(href="#") Зарегистрироваться
                .regions__address
                  p.mb-0 Миусская улица д 21, стр. 3
                  a.btn.btn-outline-white.regions__btn(href="#") Зарегистрироваться
          .regions__item(data-region="far-east")
            h2.regions__name-item Дальневосточный ФО
            .regions__item-content
              .regions__city
                h2.mb-25 Город 8
                .regions__address
                  p.mb-0 Миусская улица д 21, стр. 3
                  a.btn.btn-outline-white.regions__btn(href="#") Зарегистрироваться
                .regions__address
                  p.mb-0 Миусская улица д 21, стр. 3
                  a.btn.btn-outline-white.regions__btn(href="#") Зарегистрироваться
                .regions__address
                  p.mb-0 Миусская улица д 21, стр. 3
                  a.btn.btn-outline-white.regions__btn(href="#") Зарегистрироваться
                .regions__address
                  p.mb-0 Миусская улица д 21, стр. 3
                  a.btn.btn-outline-white.regions__btn(href="#") Зарегистрироваться
  +partners
  +footer
