extends ../templates/template.pug
block content
  +header
  .enter.pt-60.pt-lg-30
    .container.py-50.py-lg-100
      .row
        .col-lg-5.mx-auto
          h1.text-white.text-center.mb-50 Регистрация
          form.form.needs-validation(action="#", method="POST", novalidate)
            .form__item.form-group
              input.input.form-control(type="email", placeholder="E-mail", required)
              .invalid-feedback Неправильный формат электронной почты
            .form__item.form-group
              input.input.form-control(type="password", placeholder="Пароль")
            .form__item.form-group
              input.input.form-control(type="password", placeholder="Подтверждение пароля")
            button.btn.btn-white(type="submit") Создать личный кабинет
