extends ../templates/template.pug
block content
  +header
  .pt-60.pt-lg-30
    .container.py-50.py-lg-100
      .row
        .col-lg-8.mx-auto
          .test
            .test__content
              .question.question--correct
                .question__header
                  .question__header-content
                    h2.text-primary.mb-0 Работа над ошибками
                    h2.text-primary.mb-0
                      span.question__current-number 2
                      | /
                      span.question__total-number 30
                  .question__progress
                    .question__progress-line(style="width: 100%")
                .question__text-wrapper
                  .question__text-icon
                  p.text-dark Вы купили новый ноутбук, на котором установлена последняя версия программного обеспечения. Какой способ установки обновлений вам следует выбрать, чтобы обеспечить максимальную работоспособность ноутбука в будущем?
                form.question__form(action="#", method="POST")
                  .custom-control.custom-radio.custom-radio--test
                    input#customRadio1.custom-control-input(type='radio', name='customRadio')
                    label.custom-control-label(for='customRadio1') Ежедневное ручное обновление
                  .custom-control.custom-radio.custom-radio--test
                    input#customRadio2.custom-control-input(type='radio', name='customRadio')
                    label.custom-control-label(for='customRadio2') Автоматическое обновление
                  .custom-control.custom-radio.custom-radio--test
                    input#customRadio3.custom-control-input(type='radio', name='customRadio', checked)
                    label.custom-control-label(for='customRadio3') Обновление вручную  раз в неделю
                    .question__answer Вы купили новый ноутбук, на котором установлена последняя версия программного обеспечения. Какой способ установки обновлений вам следует выбрать, чтобы обеспечить максимальную работоспособность ноутбука в будущем?
                  .custom-control.custom-radio.custom-radio--test
                    input#customRadio4.custom-control-input(type='radio', name='customRadio')
                    label.custom-control-label(for='customRadio4') Зайду в настройки учетной записи App Store/Google Play Store/Microsoft Store и отменю подписку на это приложение
                  .question__footer.justify-content-between.mt-20
                    button.btn.btn-lg.btn-shadow.question__btn(type="submit") Предыдущий
                    button.btn.btn-lg.btn-shadow.question__btn(type="submit") Следующий

