extends ../templates/template-white.pug
block content
  +header
  .pt-60.pt-lg-30(style="background: url(./img/custom-bg.png) no-repeat center; background-size: cover;")
    .container.py-50.py-lg-100
      .row
        .col-lg-8.mx-auto
          .test.test--custom
            .test__content
              .test__result.test__result--blue
                .test__result-header.pr-0.pr-md-50
                  .test__result-header-left
                    h3.test__result-title Ваш результат Цифрового Диктанта по русскому языку
                    p Вы ответили верно на 10 из 30 вопросов
                  .test__result-rating
                    span.test__result-number 23
                    span.test__result-overall /30
                a.test__result-banner(href="#")
                  img.test__result-banner-img(src="./img/banner.png", alt="Banner")
                .row.mt-30.mt-md-0
                  .col-xl-7.mx-auto
                    .test__result-footer.test__result-footer--center
                      a.btn.btn-primary.btn-lg.btn-shadow.mb-10(href="#") СОЗДАТЬ ЛИЧНЫЙ КАБИНЕТ
                      p.p--sm.text-dark.mb-0 Ссылка для создания личного кабинета также направлена на ваш e-mail. В личном кабинете вы сможете скачать сертификат, ознакомиться с подобранными специально для вас образовательными материалами по повышению цифровой грамотности и сделать работу над ошибками после завершения акции 11 апреля.
