extends ../templates/template.pug
block content
  +header
  .pt-60.pt-lg-30
    .container.py-50.py-lg-100
      .row
        .col-lg-8.mx-auto
          .test
            .test__content
              .test__info
                h2.test__info-header Немного о вас
                p.text-dark Эти данные будут использованы только в обобщенном виде.
                form.form(action="#", method="POST")
                  .form__item
                    label.form__label Ваш пол
                    .test__info-form-wrapper
                      .row
                        .col-6
                          .custom-control.custom-radio.custom-radio--test
                            input#customRadio1.custom-control-input(type='radio', name='sex')
                            label.custom-control-label.font-weight-normal(for='customRadio1') Мужской
                        .col-6
                          .custom-control.custom-radio.custom-radio--test
                            input#customRadio2.custom-control-input(type='radio', name='sex')
                            label.custom-control-label.font-weight-normal(for='customRadio2') Женский
                  .form__item
                    label.form__label Ваш возраст
                    .test__info-form-wrapper
                      .row
                        .col-auto.mb-10
                          .custom-control.custom-radio.custom-radio--test.custom-radio--fixed
                            input#customRadio3.custom-control-input(type='radio', name='age')
                            label.custom-control-label(for='customRadio3') 7-13
                        .col-auto.mb-10
                          .custom-control.custom-radio.custom-radio--test.custom-radio--fixed
                            input#customRadio3.custom-control-input(type='radio', name='age')
                            label.custom-control-label(for='customRadio3') 14-17
                        .col-auto.mb-10
                          .custom-control.custom-radio.custom-radio--test.custom-radio--fixed
                            input#customRadio3.custom-control-input(type='radio', name='age')
                            label.custom-control-label(for='customRadio3') 18—24
                        .col-auto.mb-10
                          .custom-control.custom-radio.custom-radio--test.custom-radio--fixed
                            input#customRadio4.custom-control-input(type='radio', name='age')
                            label.custom-control-label(for='customRadio4') 25—34
                        .col-auto.mb-10
                          .custom-control.custom-radio.custom-radio--test.custom-radio--fixed
                            input#customRadio5.custom-control-input(type='radio', name='age')
                            label.custom-control-label(for='customRadio5') 35—44
                        .col-auto.mb-10
                          .custom-control.custom-radio.custom-radio--test.custom-radio--fixed
                            input#customRadio6.custom-control-input(type='radio', name='age')
                            label.custom-control-label(for='customRadio6') 45—59
                        .col-auto.mb-10
                          .custom-control.custom-radio.custom-radio--test.custom-radio--fixed
                            input#customRadio6.custom-control-input(type='radio', name='age')
                            label.custom-control-label(for='customRadio6') 60 и старше
                  .form__item
                    label.form__label.mb-20 Ваш регион
                    .test__info-form-wrapper
                      .row
                        .col-md-6
                          +select({
                            placeholder: 'Выбрать'
                          }).select--dark
                  .d-flex.justify-content-center
                    button.btn.btn-primary.btn-lg.btn-shadow(type="submit") Узнать результат

