extends ../templates/template-orange.pug
block content
  +header
  .pt-60.pt-lg-30
    .container.py-50.py-lg-100
      .row
        .col-lg-8.mx-auto
          .test
            .test__content
              .test__result.test__result--incorrect
                .test__result-header
                  .test__result-header-left
                    h3.test__result-title Ваш результат Цифрового Диктанта
                    p Вы ответили верно на 10 из 30 вопросов
                  .test__result-rating 
                    span.test__result-number 8
                    span.test__result-overall /10
                  .test__result-right
                    +socials({
                      modifier: 'color'
                    }).socials--colored.test__result-socials
                .test__result-details
                  .row
                    .col-md-4
                      h4 Цифровое потребление
                      .test__result-details-number
                        span.test__result-details-number-main 8
                        | /10
                      p.p--sm.text-dark.pr-lg-30 Вы купили новый ноутбук, на котором установлена последняя версия 
                    .col-md-4
                      h4 Цифровые компетенциии
                      .test__result-details-number
                        span.test__result-details-number-main 3
                        | /10
                      p.p--sm.text-dark.pr-lg-30 Вы купили новый ноутбук, на котором установлена последняя версия 
                    .col-md-4
                      h4 Цифровая безопасность
                      .test__result-details-number
                        span.test__result-details-number-main 9
                        | /10
                      p.p--sm.text-dark.pr-lg-30 Вы купили новый ноутбук, на котором установлена последняя версия 
                .row.mt-30
                  .col-xl-7.mx-auto
                    .test__result-footer.test__result-footer--center
                      a.btn.btn-primary.btn-lg.btn-shadow.mb-10(href="#") СОЗДАТЬ ЛИЧНЫЙ КАБИНЕТ
                      p.p--sm.text-dark.mb-0 Ссылка для создания личного кабинета также направлена на ваш e-mail. В личном кабинете вы сможете скачать сертификат, ознакомиться с подобранными специально для вас образовательными материалами по повышению цифровой грамотности и сделать работу над ошибками после завершения акции 11 апреля.
