extends ../templates/template.pug
block content
  +header
  .pt-60.pt-lg-30
    .container.py-50.py-lg-100
      .row
        .col-lg-8.mx-auto
          .test
            .test__content
              h2.text-primary Ваш возраст
              .row.mb-25
                .col-md-6
                  .custom-control.custom-radio.custom-radio--test.custom-radio--big
                    input#age1.custom-control-input(type='radio', name='age' checked)
                    label.custom-control-label(for='age1') 14—17 лет
                .col-md-6
                  .custom-control.custom-radio.custom-radio--test.custom-radio--big
                    input#age2.custom-control-input(type='radio', name='age')
                    label.custom-control-label(for='age2') Старше 18 лет
              .row
                .col-md-6
                  p.text-dark После нажатия на кнопку 
                    a(href="#") “Начать диктант” 
                    |, вы перейдете к тестированию. 
                  p.text-dark К каждому вопросу будет предложено четыре варианта ответа, только один из которых является верным. Выберите тот ответ, который считаете правильным, и нажмите на него. Чтобы перейти к следующему вопросу, нажмите на кнопку “Следующий вопрос”. Время прохождения тестирования не ограничено.
                .col-md-6
                  p.text-dark После того, как вы ответите на все вопросы Цифрового диктанта, вы узнаете свой общий уровень цифровой грамотности, а также насколько развиты ваши цифровые компетенции, навыки цифрового потребления и цифровой безопасности. Результатами можно будет поделиться в социальных сетях.
                  p.text-dark Желаем удачи!
              .d-flex.justify-content-center.mt-10
                a.btn.btn-primary.btn-lg.btn-shadow(href="#") Начать диктант

