.user {
  position: absolute;
  top: 0;
  right: 0;
  padding-top: 20px;
  padding-right: 25px;
  width: 100vw;
  max-width: 384px;
  background: #fafcfc;

  @include media-breakpoint-down(lg) {
    position: relative;
    top: 60px;
    padding: 10px 20px;
    width: 100%;
    max-width: none;
  }

  &__header {
    display: flex;
    justify-content: flex-end;
    align-items: center;

    @include media-breakpoint-down(lg) {
      justify-content: center;
    }
  }

  &__name {
    margin-right: 9px;
    font-size: 12px;
    line-height: 1.2;
    font-weight: 500;
    color: $primary;
  }

  &__pic {
    width: 40px;
    height: 40px;
    background: url(./img/user.jpg) no-repeat center;
    background-size: cover;
    border-radius: 50%;
  }

  &__notifications-btn {
    margin-left: 13px;
    width: 40px;
    height: 40px;
    background: url(../img/bell.svg) no-repeat center;
    background-size: contain;
    border-radius: 50%;

    span {
      margin-left: -9px;
      display: block;
      width: 20px;
      height: 20px;
      font-size: 14px;
      line-height: 20px;
      font-weight: 500;
      text-align: center;
      color: #fff;
      background: #ff9e00;
      border-radius: 50%;
    }
  }

  &__notifications-list {
    right: 0;
    padding: 20px 10px 20px 25px;
    display: none;
    width: 100%;
    background: #fafcfc;
  }

  &__notification {
    margin-bottom: 0;
    display: flex;
    color: #000;

    span {
      padding: 10px 0;
      display: block;
    }

    & + & {

      span {
        border-top: 1px solid #dadada;
      }
    }

    &:before {
      margin-top: 16px;
      margin-right: 15px;
      display: block;
      width: 10px;
      height: 10px;
      flex-shrink: 0;
      content: '';
      background: #ff9e00;
      border-radius: 50%;
    }
  }

  &--active {
    box-shadow: 0 2px 10px rgba(0, 0, 0, .1), 0 10px 30px rgba(0, 0, 0, .25);

    .user__notifications-list {
      display: block;
    }
  }
}
