mixin user(data)
  .user&attributes(attributes)
    .user__header
      a.user__name(href="#") Выйти из профиля
      a.user__notifications-btn(href="#")
        span 5
    .user__notifications-list
      p.user__notification 
        span Спасибо за регистрацию. Акция стартует 4 февраля 2020 года"
      p.user__notification 
        span Хотите пройти цифровой диктант, но у вас нет цифрового устройства? Ждем вас на офлайн-площадке вашего города. Узнать точный адрес можно в разделе "Региональные площадки"
      p.user__notification 
        span Цифровой диктант начался! Успейте пройти сами и рассказать близким!
