.event {
  position: relative;
  padding: 15px;
  display: flex;
  width: 100%;
  min-height: 300px;
  flex-direction: column;
  justify-content: space-between;
  color: #000;
  border: 1px solid #bdbdbd;
  border-radius: 4px;

  &:after {
    position: absolute;
    top: -8px;
    left: -8px;
    display: block;
    width: calc(100% + 16px);
    height: calc(100% + 16px);
    opacity: 0;
    content: '';
    border: 8px solid $primary;
    border-radius: 8px;

    @include transition;
  }

  &:hover {
    border-color: transparent;

    &:after {
      opacity: 1;
    }
  }

  &__top {
  }

  &__type {
    margin-bottom: 9px;
    font-size: 11px;
    line-height: 13px;
    font-weight: 500;
    letter-spacing: .2em;
    text-transform: uppercase;
  }

  &__tag {
    margin-bottom: 9px;
    font-size: 11px;
    line-height: 13px;
    font-weight: 500;
    letter-spacing: .2em;
    text-transform: uppercase;
    color: #000;
  }

  &__bottom {
  }

  &__title {
    margin-bottom: 45px;
    font-size: 20px;
    line-height: 1.2;
    font-weight: 700;
    color: #000;
  }

  &__footer {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
  }

  &__footer-left {
  }

  &--online {

    .event__type {
      color: $primary;
    }
  }

  &--offline {

    .event__type {
      color: #e28a07;
    }
  }
}
