mixin event(data)
  a.event(href="#")&attributes(attributes)
    .event__top
      .event__type= data.type
      .event__tag= data.tag
      .event__tag 14—17 лет
    .event__bottom
      .event__title Название мероприятия 
      .event__footer
        .event__footer-left
          p.mb-0 Москва
          p.mb-0 18—19 октября
        p.mb-0.font-weight-bold= data.price
