.logo {
  width: 167px;
  height: 49px;
  background: url(../img/logo2.gif) no-repeat top center;
  background-size: 100% auto;

  @include media-breakpoint-down(sm) {
    width: 103px;
    height: 30px;
  }

  //  &__img {
  //
  //    @include media-breakpoint-down(sm) {
  //      max-height: 30px;
  //    }
  //  }
}
