mixin front(data)
  .front&attributes(attributes)
    .container
      .row
        .col-xl-6.mx-auto
          .front__wrapper
            h2.font-weight-normal.text-center Всероссийская образовательная акция по определению уровня цифровой грамотности
            a.front__btn(href="https://www.youtube.com/watch?v=_sI_Ps7JSEk", data-fancybox)
    if data && data.modifier == 'start'
      a.front__start(href="#") Начать диктант
    if data && data.modifier == 'custom'
      a.front__start(href="#")
