.front {
  position: relative;
  padding-top: 120px;
  padding-bottom: 60px;
  display: flex;
  min-height: 600px;
  justify-content: center;
  align-items: center;
  color: #fff;
  background: url(../img/front.jpg) no-repeat top center;
  background-size: cover;

  @include media-breakpoint-down(sm) {
    padding: 100px 0 60px;
    min-height: 0;
  }

  &:hover {
    color: #fff;

    .front__btn {
      opacity: .8;
    }
  }

  &__wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__btn {
    margin-top: 40px;
    display: block;
    width: 128px;
    height: 128px;
    background: url(../img/play.svg) no-repeat center;
    background-size: contain;
    border-radius: 50%;
    box-shadow: 0 2px 10px rgba(0, 0, 0, .1), 0 10px 30px rgba(0, 0, 0, .25);

    @include transition;

    @include media-breakpoint-down(sm) {
      width: 60px;
      height: 60px;
    }
  }

  &__start {
    position: absolute;
    bottom: 0;
    left: 50%;
    padding: 40px;
    width: 100%;
    max-width: 620px;
    font-size: 32px;
    line-height: 38px;
    text-align: center;
    color: #fff;
    background: #f39208;
    border-radius: 5px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, .1), 0 10px 30px rgba(0, 0, 0, .25);
    transform: translate(-50%, 50%);

    @include transition;

    &:hover {
      opacity: .9;
      color: #fff;
    }

    @include media-breakpoint-down(sm) {
      bottom: 0;
      padding: 20px;
      max-width: 90%;
      font-size: 20px;
    }
  }

  &--start {
    margin-top: 90px;
    background-position: top center;

    @include media-breakpoint-down(lg) {
      margin-top: 69px;
    }

    @include media-breakpoint-down(sm) {
      margin-top: 60px;
    }

    .front__btn {
      width: 128px;
      height: 128px;
      background: url(../img/play-start.svg) no-repeat;
      background-size: contain;
      box-shadow: none;
    }
  }

  &--custom {
    margin-top: 90px;
    margin-bottom: 172px;
    min-height: 495px;
    background-position: top center;

    @include media-breakpoint-down(lg) {
      margin-top: 69px;
    }

    @include media-breakpoint-down(sm) {
      margin-top: 60px;
    }

    .front__start {
      padding: 10px;
      max-width: 700px;
      height: 118px;
      font-family: $font-handwritten;
      font-size: 42px;
      line-height: 1;
      color: #fff;
      background: #2d9cdb url(../img/btn-handwritten.svg) no-repeat center;
      background-size: auto 80%;
      border-radius: 5px;
      box-shadow: 0 2px 10px rgba(0, 0, 0, .1), 0 10px 30px rgba(0, 0, 0, .25);

      @include media-breakpoint-down(sm) {
        max-width: calc(100% - 20px);
        height: 80px;
        font-size: 30px;
      }
    }

    .front__btn {
      margin-top: 30px;
      width: 77px;
      height: 77px;
      background: url(../img/play-start.svg) no-repeat;
      background-size: contain;
      box-shadow: none;
    }
  }
}
