.cabinet {

  &__wrapper {
    padding-right: 180px;
    padding-left: 180px;

    @include media-breakpoint-down(lg) {
      padding: 0;
    }

    &--custom {
      background: url(../img/custom-bg.png) no-repeat center;
      background-size: cover;
    }
  }

  &__user {
    display: flex;
    align-items: center;

    h2 {

      @include media-breakpoint-down(sm) {
        font-size: 16px;
      }
    }
  }

  &__userpic {
    width: 81px;
    height: 81px;
    flex-shrink: 0;
    background-image: url(../img/user-default.svg);
    background-repeat: no-repeat;
    background-position: top center;
    background-size: cover;
  }

  &__user-content {
    margin-left: 30px;

    @include media-breakpoint-down(sm) {
      margin-left: 10px;
    }
  }

  &__user-edit {
    font-size: 14px;
    color: #b5b5b5;
  }
}
