mixin certificate(data)
  .certificate&attributes(attributes)
    .container
      a.certificate__close(href="#")
      .certificate__content
        h1.text-white.mb-20.mb-sm-50 Выберите формат сертификата
        a.btn.btn-white.btn-lg.btn-shadow.certificate__btn.mb-20(href="#") Именной
        a.btn.btn-white.btn-lg.btn-shadow.certificate__btn(href="#") АНОНИМНЫЙ
        form.form.certificate__form(action="#", method="POST")
          .form__item.form-group
            input.input.form-control(type="text", placeholder="Ваше имя")
          button.btn.btn-white.certificate__btn(type="submit") Скачать сертификат
