.certificate {
  position: fixed;
  z-index: 2;
  top: 0;
  left: 0;
  display: none;
  width: 100%;
  height: 100%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  background: rgba($primary, .9);

  &__close {
    position: absolute;
    top: 0;
    right: 0;
    display: block;
    width: 120px;
    height: 115px;
    background: url(../img/close--giant.svg) no-repeat;
    background-size: contain;

    @include media-breakpoint-down(sm) {
      top: 10px;
      right: 10px;
      width: 40px;
      height: 40px;
    }
  }

  &__content {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__btn {
    width: 100% !important;
    max-width: 277px !important;
  }

  &__form {
    margin: 0 auto;
    margin-top: 130px;
    width: 100%;
    max-width: 460px;

    @include media-breakpoint-down(sm) {
      margin-top: 40px;
    }
  }
}
