.up {
  position: fixed;
  z-index: -1;
  right: 40px;
  bottom: 40px;
  display: block;
  width: 88px;
  height: 88px;
  opacity: 0;
  background: url(../img/up.svg) no-repeat center;
  background-size: contain;

  @include media-breakpoint-down(sm) {
    right: 10px;
    bottom: 10px;
    width: 60px;
    height: 60px;
  }

  &--active {
    z-index: 2;
    opacity: 1;
  }
}
