mixin menu(data)
  .menu&attributes(attributes)
    a.menu__btn(href="#")
    .menu__content
      +user.d-xl-none
      .menu__links-list
        a.menu__link.menu__link--active(href="#") О проекте
        a.menu__link(href="#") Региональные площадки
        a.menu__link(href="#") Новости
        a.menu__link(href="#") Хочу все знать
        a.menu__link(href="#") Стать партнером
