.menu {
  padding-left: 60px;

  @include media-breakpoint-down(lg) {
    padding-left: 0;
  }

  &__btn {
    position: relative;
    z-index: 1;
    display: none;

    @include media-breakpoint-down(lg) {
      display: block;
      width: 40px;
      height: 40px;
      background: url(../img/menu.svg) no-repeat center;
      background-size: 80%;
    }

    &--active {

      @include media-breakpoint-down(lg) {
        background: url(../img/close.svg) no-repeat center;
        background-size: 60%;
      }
    }
  }

  &__content {

    @include media-breakpoint-down(lg) {
      position: fixed;
      top: 0;
      right: 0;
      display: none;
      overflow: auto;
      width: 100%;
      max-width: 400px;
      height: 100%;
      background: $primary;
      box-shadow: 0 3px 10px rgba(0, 0, 0, .2);
    }
  }

  &__links-list {
    display: flex;
    justify-content: space-between;

    @include media-breakpoint-down(lg) {
      padding: 80px 20px 0;
      flex-direction: column;
      align-items: flex-start;
    }
  }

  &__link {
    padding: 6px 0;
    font-size: 16px;
    line-height: 1.2;
    font-weight: 500;
    color: #000;
    border-bottom: 3px solid transparent;

    @include transition;

    @include media-breakpoint-down(lg) {
      margin-bottom: 20px;
      font-size: 20px;
      color: #fff;
    }

    &--active {
      border-color: $primary;

      @include media-breakpoint-down(lg) {
        border-color: #fff;
      }
    }
  }
}
