.library {

  &__filters {
  }

  &__filters-section {
    margin-bottom: 30px;
  }

  &__filters-header {
    margin-bottom: 15px;
    font-size: 10px;
    line-height: 12px;
    letter-spacing: .2em;
    text-transform: uppercase;
    color: #000;
  }

  &__filters-content {
    margin: 0 -8px;
    display: flex;
    flex-wrap: wrap;

    &--row {
      justify-content: space-between;
    }
  }

  &__filters-subsection {

    @include media-breakpoint-down(md) {
      margin-bottom: 10px;
    }

    @include media-breakpoint-down(sm) {
      margin-top: 10px;
      width: 100%;
    }
  }

  &__range-wrapper {
    margin-bottom: 25px;
    display: flex;
    align-items: center;
  }

  &__filters-selects {
    display: flex;
    flex-direction: column;
  }

  &__filters-types {
    display: flex;
  }

  &__filters-mobile {

    @include media-breakpoint-down(md) {
      margin-top: 10px;
      display: none;
    }
  }

  &__filters-mobile-btn {
    display: none;

    &:after {
      margin-left: 5px;
      display: block;
      width: 10px;
      height: 10px;
      content: '';
      background: url(../img/triangle.svg) no-repeat;
      background-position: center;
      background-size: contain;

      @include transition;
    }

    @include media-breakpoint-down(md) {
      margin-top: 20px;
      margin-bottom: 30px;
      padding: 7px;
      display: flex;
      justify-content: center;
      align-items: center;
      border: 1px solid #dadada;
    }

    &--active {

      &:after {
        transform: rotate(180deg);
      }
    }
  }
}
