mixin countdown(data)
  .countdown&attributes(attributes)
    .container
      .countdown__header до начала
      .countdown__content
        .countdown__item
          .countdown__item-number 15
          .countdown__item-dscr дней
        .countdown__item
          .countdown__item-number 10
          .countdown__item-dscr часов
        .countdown__item
          .countdown__item-number 34
          .countdown__item-dscr минуты
