.countdown {
  padding: 70px 0 134px;

  @include media-breakpoint-down(md) {
    padding: 80px 0;
  }

  @include media-breakpoint-down(sm) {
    padding: 40px 0;
  }

  &__header {
    font-size: 64px;
    line-height: 1.2;
    font-weight: 500;

    @include media-breakpoint-down(lg) {
      font-size: 40px;
    }

    @include media-breakpoint-down(sm) {
      font-size: 30px;
    }
  }

  &__content {
    display: flex;
  }

  &__item {

    & + & {

      .countdown__item-number {

        &:before {
          content: '.';
        }
      }

      .countdown__item-dscr {
        padding-left: 30%;
      }
    }
  }

  &__item-number {
    display: flex;
    font-size: 241px;
    line-height: .85;
    font-weight: 500;

    @include media-breakpoint-down(lg) {
      font-size: 120px;
    }

    @include media-breakpoint-down(sm) {
      font-size: 60px;
      line-height: 1;
    }
  }

  &__item-dscr {
    font-size: 32px;
    line-height: 1.2;

    @include media-breakpoint-down(lg) {
      font-size: 20px;
    }

    @include media-breakpoint-down(sm) {
      font-size: 16px;
    }
  }
}
