.header {
  position: fixed;
  z-index: 2;
  top: 0;
  left: 0;
  padding-top: 20px;
  width: 100%;
  background: #fafcfc;
  box-shadow: 0 3px 10px rgba(0, 0, 0, .1);

  @include media-breakpoint-down(lg) {
    padding: 10px 0;
  }

  &__wrapper {
    display: flex;
    align-items: center;

    @include media-breakpoint-down(lg) {
      position: relative;
    }
  }

  &__content {
    margin-left: 22px;
    flex-grow: 1;

    @include media-breakpoint-down(lg) {
      display: flex;
      justify-content: space-between;
    }

    @include media-breakpoint-down(sm) {
      justify-content: flex-end;
    }
  }

  &__content-top {
    margin-bottom: 10px;
    display: block;
    max-width: 320px;
    font-size: 11px;
    line-height: 1.2;
    color: #000;

    @include media-breakpoint-down(lg) {
      margin-bottom: 0;
    }

    @include media-breakpoint-down(sm) {
      display: none;
    }
  }

  &__right {

    @include media-breakpoint-down(lg) {
      display: flex;
      align-items: center;
    }
  }

  &__results {
    position: absolute;
    top: 23px;
    right: 25px;
    padding: 0 !important;
    width: auto !important;
    font-size: 12px;
    line-height: 1.17;
    font-weight: 500 !important;
    color: $primary !important;

    @include media-breakpoint-down(lg) {
      position: static;
      margin-right: 20px;
    }

    @include media-breakpoint-down(sm) {
      margin-right: 10px;
    }
  }
}
