mixin header(data)
  .header&attributes(attributes)
    .container
      .header__wrapper
        +logo
        .header__content
          span.header__content-top Всероссийская образовательная акция по определению уровня цифровой грамотности
          .header__right
            if data && data.modifier == 'start'
              a.btn.btn-link.header__results(href="#") Смотреть результат
            else
            +menu
    if data && data.modifier == 'start'
    else
      +user.d-none.d-xl-block
