.form {

  &__item {
    margin-bottom: 50px;
  }

  &__label {
    font-weight: 500;
    color: $primary;
  }

  &--dark {

    .input {
      color: #000;
      border-bottom-color: $dark;

      @include placeholder($dark);

      &:focus {
        color: $dark;
        border-color: $dark;
      }
    }
  }
}
